<div class="col-md-4 nopadding package">
	<div class="package-inside well">
		<a href="{{ offer.absoluteUrl }}">
	    	<h4 class="package-title">
	        {% if offer.titleTranslated %}
           		{{ offer.titleTranslated }}
	        {% else %}
	            {{ offer.title }}
	        {% endif %}
	        {% if offer.nights %}
		         ({{ offer.nights|split(',')[0] }} {% if offer.nights|split(',')[0] == '1' %} {{ 'night'|trans({}, 'frontend') }}{% else %}{{ 'nights'|trans({}, 'frontend') }}{% endif %})
		    {% elseif offer.days %}     
		         ({{ offer.days - 1 }} {% if offer.days - 1 == '1' %} {{ 'night'|trans({}, 'frontend') }}{% else %}{{ 'nights'|trans({}, 'frontend') }}{% endif %})
	        {% endif %}
	    	</h4>
	    	{% if offer.city %}
	    		<p>{{ offer.city }}{% if offer.country %}, {{ offer.country }}{% endif %}</p>
	    	{% elseif offer.country %}	
	    		<p>{{ offer.country }}</p>
	    	{% else %} 
	    	{% endif %}
	    	
	    </a>	
	    <a class="package-price pull-right btn btn-primary" href="{{ offer.absoluteUrl }}">
			
			{% if offer.inCategory('hotel') or offer.inCategory('citytrip') or offer.priceper == 'per_person' or offer.priceper == 'Per person' or offer.priceper == 'Per Person'  %}
				{{ offer.price |number_format(0, '.', ',') * 2 }}{% if offer.currency == 'EUR' %}&euro;{% elseif offer.currency == 'GBP' %}&pound;{% else %}{{ offer.currency }}{% endif %}
		    	<span class="price-from">/2{{ 'price.per.pers'|trans({}, 'frontend') }}</span>
		    	{% if offer.discount %}
		    	<span class="offer-discount">-{{ offer.discount }}</span>
		   	 	{% endif %}
			{% else %}
		    	{{ offer.price |number_format(0, '.', ',') }} {% if offer.currency == 'EUR' %}&euro;{% else %}{{ offer.currency }}{% endif %}
		    	<span class="price-from">/{{ 'price.per.pers'|trans({}, 'frontend') }}</span>
		    	{% if offer.discount %}
		    	<span class="offer-discount">-{{ offer.discount }}</span>
		   	 	{% endif %}
	   	 	{% endif %}
	   	 	
	    </a>	
	    	
	    <a href="{{ offer.absoluteUrl }}">	
		    {% if offer.image %}
		        <img src="{{ offer.image }}" class="img-responsive"/>
		    {% endif %}
	    </a>
       

       
    <p>
        {% if offer.originalLanguage %}
	            <img width="20" src="{{ asset('bundles/sandboxwebsite/img/flags/' ~ offer.originalLanguage ~ '.gif') }}"/>
	    {% endif %}
	    {% if offer.summary %}
            {{ offer.summary |raw }}
        {% else %}
            {{ offer.shortDescription |raw }}

            {% if offer.shortDescriptionTranslated %}

                <button type="button" class="icon-translate btn btn-primary btn-lg" data-toggle="modal" data-target="#offer-modal-{{ offer.id }}">
                    {{ 'icon.translate' | trans({}, 'frontend') }}
                </button>

                <!-- Modal -->
                <div class="modal fade" id="offer-modal-{{ offer.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                <p>
                                    {{ offer.shortDescriptionTranslated }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


            {% endif %}

        {% endif %}
    </p>
    
    </div>
</div>