<div class="col-md-12 well">
    <div class="row">
        {% if offer.image %}
            <div class="col-md-4">
                <img src="{{ offer.image }}" class="img-responsive"/>
            </div>
            <div class="col-md-8">
                <h3>
                    {% if offer.titleTranslated %}
                        {{ offer.titleTranslated }}
                    {% else %}
                        {{ offer.title }}
                    {% endif %}
                    {% if offer.originalLanguage %}
                        <img src="{{ asset('bundles/sandboxwebsite/img/flags/' ~ offer.originalLanguage ~ '.gif') }}"/>
                    {% endif %}
                </h3>
                <p>{{ offer.price }}{{ offer.currency }}</p>
                <p>
                    {% if offer.summary %}
                        {{ offer.summary |raw }}
                    {% else %}
                        {{ offer.shortDescription |raw }}
                    {% endif %}
                </p>
                <a class="btn btn-primary" href="{{ offer.absoluteUrl }}">{{ 'read.more'|trans({}, 'frontend') }}</a>
            </div>
        {% else %}
            <div class="col-md-12">
                <h3>
                    {% if offer.titleTranslated %}
                        {{ offer.titleTranslated }}
                    {% else %}
                        {{ offer.title }}
                    {% endif %}
                    {% if offer.originalLanguage %}
                        <img src="{{ asset('bundles/sandboxwebsite/img/flags/' ~ offer.originalLanguage ~ '.gif') }}"/>
                    {% endif %}
                </h3>
                <p>{{ offer.price }}{{ offer.currency }}</p>
                <p>
                    {% if offer.summary %}
                        {{ offer.summary |raw }}
                    {% else %}
                        {{ offer.shortDescription |raw }}
                    {% endif %}
                </p>
                <a class="btn btn-primary" href="{{ offer.absoluteUrl }}">{{ 'read.more'|trans({}, 'frontend') }}</a>
            </div>
        {% endif %}
    </div>
</div>