<div class="col-md-4 well">

    <h3>
        {% if offer.titleTranslated %}
            {{ offer.titleTranslated }}
        {% else %}
            {{ offer.title }}
        {% endif %}
    </h3>
    {% if offer.image %}
        <img src="{{ offer.image }}" class="img-responsive"/>
    {% endif %}
    <p>{{ offer.price }}{{ offer.currency }}</p>
    <p>
        {% if page.summary %}
            {{ page.summary |raw }}
        {% else %}
            {{ page.shortDescription |raw }}
        {% endif %}
    </p>
    <a class="btn btn-primary" href="{{ offer.absoluteUrl }}">{{ 'read.more'|trans({}, 'frontend') }}</a>
</div>