{% extends 'SandboxWebsiteBundle:Layout:layout.html.twig' %}


{% block mainBgUrl %}
{% if page.topImage is not null and page.topImage.picture is not null %}{{ page.topImage.picture.url }}{% else %}
{{ render(controller('SandboxWebsiteBundle:Travelbase:getRandomImageUrl')) }}{% endif %}
{% endblock %}

{% block topImgTitle %}
    {% if page.topImage is not null and page.topImage.picture is not null %}
        {{ render(controller('SandboxWebsiteBundle:Travelbase:getRandomImageTitle', { 'image': page.topImage})) }}
    {% else %}
        {{ render(controller('SandboxWebsiteBundle:Travelbase:getRandomImageTitle')) }}
    {% endif %}
{% endblock %} 

{% block sidebar %}
    {{ render(controller('SandboxWebsiteBundle:Subscription:subscribeForm', {'page' : page})) }}
{% endblock %}

{% block content %}

    {% include '@SandboxWebsite/SeoModule/top.html.twig' %}

    <div class="content">
    <header>
        {% include "@SandboxWebsite/Layout/toplaces.html.twig" with {"item": page} %}
    <time>{{ page.date|datelocale}}</time>
    <h1>
        {% if page.priceFrom %}
            <div class="pull-right">
                <div class="price-from price-from-img">
                    <div class="price-from-inner pull-right">
                        <span>{{ page.priceFrom }} {% if page.priceFromLabel %}/ {{ page.priceFromLabel|trans({}, 'frontend', app.request.locale) }}{% endif %}</span>
                    </div>
                </div>
            </div>
        {% endif %}
           {{ page.title }}
    </h1>
    {% include '@SandboxWebsite/Tag/tagblock.article.html.twig' with { 'tags': page.tags } %}
    </header>
    
    {% include '@SandboxWebsite/Layout/fromplaces.html.twig' %}
    
    {% if page.image and page.imageOnlyOnPreview == false %}
    		<img src="{{ asset(page.image.url | imagine_filter("1000x")) }}" alt="" class="img-responsive"/>
            <p></p>
    {% endif %}
                  
    {{ render_pageparts(page, 'main') }}
    {#{% include 'KunstmaanArticleBundle:AbstractArticlePage:view.html.twig' %}#}
        {% include '@SandboxWebsite/Layout/disqus.html.twig' %}

    </div>

    {% include '@SandboxWebsite/SeoModule/bottom.html.twig' %}


    <script>
        jQuery(function($) {
            $('.content').find('h3').each(function () {
                var text = $(this).text();
                text = text.replace(/^([0-9]+\.*)/, function (x){return "<span class='number'>" + x + "</span>";} );
                $(this).html(text);
            });
        });
    </script>

{% endblock %}

{% block seoFooter %}
    {% include '@SandboxWebsite/SeoModule/footer.html.twig' %}
{% endblock %}