{% extends 'SandboxWebsiteBundle:Layout:layout.html.twig' %}


{% block mainBgUrl %}
{% if page.topImage is not null and page.topImage.picture is not null %}{{ page.topImage.picture.url }}{% else %}
{{ render(controller('SandboxWebsiteBundle:Travelbase:getRandomImageUrl')) }}{% endif %}
{% endblock %}

{% block topImgTitle %}
    {% if page.topImage is not null and page.topImage.picture is not null %}
        {{ render(controller('SandboxWebsiteBundle:Travelbase:getRandomImageTitle', { 'image': page.topImage})) }}
    {% else %}
        {{ render(controller('SandboxWebsiteBundle:Travelbase:getRandomImageTitle')) }}
    {% endif %}
{% endblock %} 

{% block sidebar %}
    {{ render(controller('SandboxWebsiteBundle:Subscription:subscribeForm', {'page' : page})) }}
{% endblock %}

{% block content %}
    <div class="content">
    <header> 
    {% if page.places.count > 0 %}
        <div class="to-places pull-right">
        <span class="glyphicon glyphicon-map-marker"></span>
        {% for place in page.places %}
            {% if get_node_translation_for(place) %}
                <a href="{{ path("_slug", { 'url' : get_node_translation_for(place).fullSlug }) }}">{{ place.title }}</a> {% if loop.last == false %}/{% endif %}
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
    <time>{{ page.date | date("F jS H:i")}}</time>
    <h1>
    	{% if page.priceFrom %}<div class="pull-right"><div class="price-from price-from-img"><div class="price-from-inner pull-right"><span>{{ page.priceFrom }}</span></div></div></div>{% endif %}
           {{ page.title }}
    </h1>
    {% include '@SandboxWebsite/Tag/tagblock.article.html.twig' with { 'tags': page.tags } %}
    </header> 
    
    
    {% if page.fromPlaces.count > 0 %}
        <div class="from-places">
        From:
        {% for place in page.fromPlaces %}
        <a href="{{ path("_slug", { 'url' : get_node_translation_for(place).fullSlug}) }}">{{ place.title }}</a>
        {% endfor %}
        </div>
    {% endif %}
    
    
    {% if page.image and page.imageOnlyOnPreview == false %}
    		<img src="{{ asset(page.image.url | imagine_filter("1000x")) }}" alt="" class="img-responsive"/>
            <p></p>
    {% endif %}
                  
    {{ render_pageparts(page, 'main') }}
    {#{% include 'KunstmaanArticleBundle:AbstractArticlePage:view.html.twig' %}#}
    
    </div>
{% endblock %}
