<div class="tab-pane" id="lowcost" style="position: relative">
    <div class="row">
    	
    	<div class="col-md-12">
	    	<div class="flight-subsearch">
		        {# COL 1 #}
		        <div class="pull-left hidden-sm hidden-xs">
		              <label for="stopover">{{ 'max.flight.duration' | trans({}, 'frontend') }}:</label>
		        </div>
		        <div class="hidden-sm hidden-xs" style="margin-left: 20px;width:170px;float:left">
		            <p style="position: relative; height: 0;">
		                <input type="text" id="stopover" readonly>
		            </p>
		            <div id="slider-range-stopover"></div>
		        </div>
		        {# COL 2 #} 
		            <div class="hidden-xs checkbox checkbox-warning checkbox-inline">
		              
		              
		             
		              		<input type="checkbox" id="directFlight"> 
		                  	 <label for="directFlight">{{ 'direct.flights.only' | trans({}, 'frontend') }} 
		               </label>
		            </div>
		        {# COL 3 #}
		            <div class="hidden-xs checkbox checkbox-warning checkbox-inline">
		               
		                    <input type="checkbox" id="sameDay"> 
		                    <label for="sameDay"> {{ 'fly.same.day' | trans({}, 'frontend') }}
		                </label>
		            </div>
		
		        {# COL 3 #}
		            <div class="checkbox checkbox-warning checkbox-inline">
		               
		                    <input type="checkbox" id="flyOneWay" checked="checked"> 
		                     <label for="flyOneWay">{{ 'fly.one.way' | trans({}, 'frontend') }}
		                </label>
		            </div>
		        {# COL 4 #}
	            <div class="checkbox checkbox-warning checkbox-inline">
                    <input type="checkbox" id="flyWithReturn" checked="checked"> 
                   <label for="flyWithReturn"> {{ 'fly.with.return' | trans({}, 'frontend') }}
                </label>
            	</div>
       		</div>
    	</div>
    </div>
    <div class="travelbase_items travelbase_items_sp" data-filter-type="[4, 3]" data-badge="#lowcost-badge"></div>
    <div class="progressbar"></div>

    {% include '@SandboxWebsite/Travelbase/tabBody/registerOverlay.html.twig' %}
</div>