<div style="background:#ebece7;padding:20px">
    <div style="width:630px;margin:10px auto 0">
        <div style="border-radius:5px;padding:0 30px 20px;background:#fff">
            <div style="text-align:left;padding:22px 0 5px">
                <a target="_blank" href="{{ baseurl}}">
                    <img border="0" src="{{ baseurl }}/bundles/sandboxwebsite/img/general/{{ host}}-logo.png">
                </a>
            </div>
            <p>
                Hi,
            </p>
            {% block message %}
                <p>

                    Thanks for your interest in the GetYourGuide Partner
                    Network. You registered with the following data:
                </p>
                <table>
                    <tbody>
                    <tr>
                        <td style="padding-right:10px">
                            Name:
                        </td>
                        <td>
                            <strong>rannapuhkus</strong>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right:10px">
                            Webpage:
                        </td>
                        <td>
                            <strong><a target="_blank" href="{{ baseurl }}">{{ host}}</a></strong>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p>
                    We'll take a look at your data and and activate your
                    account within the next few days.
                </p>
            {% endblock %}

        </div>
        {#<div style="padding:15px 10px 0;color:#666;font-size:11px;line-height:15px">#}
            {#If you have any questions or concerns, please contact us at:<br>#}
            {#<br>#}
            {#GetYourGuide Partner Network<br>#}
            {#GetYourGuide GmbH<br>#}
            {#Erich-Weinert-Straße 145C<br>#}
            {#10409 Berlin<br>#}
            {#Germany<br>#}
            {#<br>#}
            {#Managing directors: Johannes Reck, Tao Tao, Josef Gatzek.#}
            {#Registered at Amtsgericht Charlottenburg under HRB 132059 B#}
            {#VAT ID No. DE276456081<br>#}
            {#<br>#}
            {#If you have received this communication in error, please do#}
            {#not forward its contents; notify the sender and delete the#}
            {#message along with any attachments. This message may contain#}
            {#information that is confidential and legally privileged.#}
            {#Unless you are the addressee, you may not use, copy, or#}
            {#disclose to anyone this message or any information contained#}
            {#within it.#}
        {#</div>#}

        </div>
</div>


