
{% if tags is defined %}
<div class="tags-block">
    <h2>Tags</h2>
    {% for tag in tags %}
        <div>
            <a href="{{ path('sandbox_website_tag_tag', {"_locale": app.request.locale, 'tag' : tag.name | replace({' ': "_"}) } ) }}">{{ tag.name|trans({}, 'tag', app.request.locale) }}</a>
        </div>
    {% endfor %}
</div>
{% endif %}

{% if preferredtags is defined %}
<div class="preferred-tags-block">
    <h2>Categories</h2>
    {% for pt in preferredtags %}
        {% if pt.tag is not null %}
            <div class="{{ pt.class }}">
                <a href="{{ path('sandbox_website_tag_tag', {"_locale": app.request.locale, 'tag' : pt.tag.name | replace({' ': "_"}) } ) }}">{{ pt.tag.name|trans({}, 'tag', app.request.locale) }}</a>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}