<div style="margin-top: -99999px" class="city-picker" id="dropdown-company">
    <div class="city-filters">
        <h1 class="form-item-header">{{ 'dropdown.companies.header' |trans({}, 'frontend') }}</h1>
        <div class="form-item-desc">{{ 'dropdown.companies.description' |trans({}, 'frontend') }}</div>
    </div>
    <div class="city-list">
        <div class="columnize">
        <div class="no-cities" style="display: none">Nothing found</div>
        <span class="city-picker-close glyphicon glyphicon-remove"></span>


        {% for company in companies %}
            <ul class="dontsplit">
                <li>
                    {% if company['children']|length == 0 %}
                        <span></span>
                    {% endif %}

                    {% if company['parent'].page.picture %}
                        <div><img src="{{ asset(company['parent'].page.picture.url) }}" alt="" class="img-responsive"/></div>
                    {% endif %}

                    <a class="company-list-title" href="{{ path('_slug', { 'url': company['parent'].translation.fullSlug }) }}">{{ company['parent'].page.title }}</a>

                    {% if company['children']|length > 0 %}
                        <ul style="">
                            {% for node2 in company['children'] %}
                                <li>
                                    <a href="{{ path('_slug', { 'url': node2.translation.fullSlug }) }}">{{ node2.page.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            </ul>
        {% endfor %}
    </div>
    </div>
</div>

