<div style="margin-top: -99999px" class="city-picker" id="dropdown-departure">
    <div class="city-filters row">
        <div class="col-md-8">
        	<h1 class="form-item-header">{{ 'dropdown.destinations.header' |trans({}, 'frontend') }}</h1>
        	<div class="form-item-desc">{{ 'dropdown.destinations.description' |trans({}, 'frontend') }}</div>
        </div>
        <div class="col-md-4"> 
        	<input name="city-search" class="city-search" type="text"><label for="city-search"></label>
        	<input id="806880" class="all" name="check-all" type="checkbox"><label
                style="display: inline-block;"
                class="check-all no" for="806880"></label>
        </div> 
    </div>
    <div class="city-list row">
        <div class="no-cities" style="display: none">{{ 'no.destinations.found' | trans }}</div>
        <span class="city-picker-close glyphicon glyphicon-remove"></span>
        <div class="columnize col-sm-9">

            {% if root is defined and root %}

                {% for country in nodes %}
                    <ul class="dontsplit">
                        <li {% if country.children|length > 0 %}class="parent-list"{% endif %}>
                            {% if country.children|length > 0 %}
                                <i class="glyphicon glyphicon-chevron-down"></i>
                            {% endif %}

                            {% set rand1 = random(9999) %}
                            {% set rand2 = random(9999) %}
                            <input id="country{{ country.parent.id }}{{ rand1 }}{{ rand2 }}"
                                   name="country{{ country.parent.id }}" class="parent"
                                   value="{{ country.parent.id }}"
                                   data-name="{{ country.parent.title }}"
                                   data-depth="0" data-type="country" data-city-type="[]" type="checkbox">
                            <a href="{{ path('_slug', { 'url': root.slug ~ "/" ~ country.parent.slug }) }}">{{ country.parent.title }}</a>

                            {% if country.children|length > 0 %}
                                <ul style="display: none;">
                                    {% for children in country.children %}
                                        <li {% if children.children|length > 0 %}class="parent-list"{% endif %}>
                                            {% if children.children|length > 0 %}
                                                <i class="glyphicon glyphicon-chevron-down"></i>
                                            {% endif %}
                                            {% set rand1 = random(9999) %}
                                            {% set rand2 = random(9999) %}
                                            <input id="city{{ children.parent.id }}{{ rand1 }}{{ rand2 }}"
                                                   name="city{{ children.parent.id }}" class="parent"
                                                   value="{{ children.parent.id }}"
                                                   data-name="{{ children.parent.title }}"
                                                   data-depth="1" data-type="city" data-city-type="[]" type="checkbox">
                                            <a href="{{ path('_slug', { 'url': root.slug ~ "/" ~ country.parent.slug ~ "/" ~ children.parent.slug }) }}">
                                                {{ children.parent.title }}
                                            </a>


                                            {% if children.children|length > 0 %}
                                                <ul style="display: none;">
                                                    {% for subchildren in children.children %}
                                                        <li {% if subchildren.children|length > 0 %}class="parent-list"{% endif %}>
                                                            {% if subchildren.children|length > 0 %}
                                                                <i class="glyphicon glyphicon-chevron-down"></i>
                                                            {% endif %}
                                                            {% set rand1 = random(9999) %}
                                                            {% set rand2 = random(9999) %}
                                                            <input id="city{{ subchildren.parent.id }}{{ rand1 }}{{ rand2 }}"
                                                                   name="city{{ subchildren.parent.id }}" class="parent"
                                                                   value="{{ subchildren.parent.id }}"
                                                                   data-name="{{ subchildren.parent.title }}"
                                                                   data-depth="1" data-type="city" data-city-type="[]" type="checkbox">
                                                            <a href="{{ path('_slug', { 'url': root.slug ~ "/" ~ country.parent.slug ~ "/" ~ children.parent.slug ~ "/" ~ subchildren.parent.slug }) }}">
                                                                {{ subchildren.parent.title }}
                                                            </a>

                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}

                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                        </li>
                    </ul>
                {% endfor %}

            {% endif %}

        </div>
        <div class="col-sm-3 host-from-places">
            {% include '@SandboxWebsite/Dropdown/fromcities.html.twig' %}
        </div>
    </div>
</div>