<div style="margin-top: -99999px" class="city-picker" id="dropdown-departure">
    <div class="city-filters row">
        <div class="col-md-8">
        	<h1 class="form-item-header">{{ 'dropdown.destinations.header' |trans({}, 'frontend') }}</h1>
        	<div class="form-item-desc">{{ 'dropdown.destinations.description' |trans({}, 'frontend') }}</div>
        </div>
        <div class="col-md-4"> 
        	<input name="city-search" class="city-search" type="text"><label for="city-search"></label>
        	<input id="806880" class="all" name="check-all" type="checkbox"><label
                style="display: inline-block;"
                class="check-all no" for="806880"></label>
        </div> 
    </div>
    <div class="city-list row">
        <div class="no-cities" style="display: none">{{ 'no.destinations.found' | trans }}</div>
        <span class="city-picker-close glyphicon glyphicon-remove"></span>
        <div class="columnize col-sm-9">
            {% set class = 'city-near' %}
            {#{% for node in nodes %}#}
            {#{% if node is null %}#}
            {#{% set class = '' %}#}
            {#{% elseif node.nodeTranslation(lang) %}#}
            {##}
            {##}
            {#&#123;&#35;{% set placePage = node.nodeTranslation(lang).ref(em) %}&#35;&#125;#}
            {#<ul class="{{ class }} dontsplit">#}

            {#<li {% if node.children.count > 0 %}class="parent-list"{% endif %}>#}
            {#{% if node.children.count > 0 %}#}
            {#<i class="fa fa-angle-down"></i>#}
            {#{% else %}#}
            {#<span></span>#}
            {#{% endif %}#}

            {#&#123;&#35;{% set rand1 = random(9999) %}&#35;&#125;#}
            {#&#123;&#35;{% set rand2 = random(9999) %}&#35;&#125;#}
            {#&#123;&#35;<input id="country{{ placePage.cityid }}{{ rand1 }}{{ rand2 }}" name="country{{ placePage.cityid }}" class="parent" value="{{ placePage.cityid }}" data-name="{{ node.nodeTranslation(lang).title }}" data-depth="0" data-type="country" data-city-type="[]" type="checkbox">&#35;&#125;#}
            {#&#123;&#35;<label for="country{{ placePage.cityid }}{{ rand1 }}{{ rand2 }}">{{ node.nodeTranslation(lang).title }}</label>&#35;&#125;#}
            {#&#123;&#35;<a href="{{ path('_slug', { 'url': node.nodeTranslation(lang).url }) }}"><span class="fa fa-book"></span></a>&#35;&#125;#}
            {#<a href="{{ path('_slug', { 'url': node.nodeTranslation(lang).url }) }}">{{ node.nodeTranslation(lang).title }}</a>#}

            {#{% if node.children.count > 0 %}#}





            {#<ul style="display: none;">#}

            {#{% for node2 in node.children %}#}
            {#{% if node2.nodeTranslation(lang) %}#}
            {#<li {% if node2.children.count > 0 %}class="parent-list"{% endif %}>#}
            {#{% if node2.children.count > 0 %}#}
            {#<i class="fa fa-angle-down"></i>#}
            {#{% endif %}#}

            {#&#123;&#35;{% set placePage = node2.nodeTranslation(lang).ref(em) %}&#35;&#125;#}
            {#&#123;&#35;{% set rand1 = random(9999) %}&#35;&#125;#}
            {#&#123;&#35;{% set rand2 = random(9999) %}&#35;&#125;#}
            {#&#123;&#35;<input id="city{{ placePage.cityid }}{{ rand1 }}{{ rand2 }}" name="city{{ placePage.cityid }}" class="parent" value="{{ placePage.cityid }}" data-name="{{ node2.nodeTranslation(lang).title }}" data-depth="1" data-type="city" data-city-type="[]" type="checkbox">&#35;&#125;#}
            {#&#123;&#35;<label for="city{{ placePage.cityid }}{{ rand1 }}{{ rand2 }}">{{ node2.nodeTranslation(lang).title }}</label>&#35;&#125;#}
            {#&#123;&#35;<a href="{{ path('_slug', { 'url': node2.nodeTranslation(lang).url }) }}"><span class="fa fa-book"></span></a>&#35;&#125;#}
            {#<a href="{{ path('_slug', { 'url': node2.nodeTranslation(lang).url }) }}">{{ node2.nodeTranslation(lang).title }}</a>#}

            {#{% if node2.children.count > 0 %}#}



            {#{% for node3 in node2.children.count %}#}
            {#{% if node3.nodeTranslation(lang) %}#}
            {#<ul style="display: none;">#}

            {#<li {% if node3.children.count > 0 %}class="parent-list"{% endif %}>#}
            {#{% if node3.children.count > 0 %}#}
            {#<i class="fa fa-angle-down"></i>#}
            {#{% endif %}#}

            {#&#123;&#35;{% set placePage = node3.nodeTranslation(lang).ref(em) %}&#35;&#125;#}
            {#&#123;&#35;{% set rand1 = random(9999) %}&#35;&#125;#}
            {#&#123;&#35;{% set rand2 = random(9999) %}&#35;&#125;#}
            {#&#123;&#35;<input id="city{{ placePage.cityid }}{{ rand1 }}{{ rand2 }}" name="city{{ placePage.cityid }}" class="parent" value="{{ placePage.cityid }}" data-name="{{ node3.nodeTranslation(lang).title }}" data-depth="2" data-type="city" data-city-type="[]" type="checkbox">&#35;&#125;#}
            {#&#123;&#35;<label for="city{{ placePage.cityid }}{{ rand1 }}{{ rand2 }}">{{ node3.nodeTranslation(lang).title }}</label>&#35;&#125;#}
            {#&#123;&#35;<a href="{{ path('_slug', { 'url': node3.nodeTranslation(lang).url }) }}"><span class="fa fa-book"></span></a>&#35;&#125;#}
            {#<a href="{{ path('_slug', { 'url': node3.nodeTranslation(lang).url }) }}">{{ node3.nodeTranslation(lang).title }}</a>#}

            {#{% if node3.children.count > 0 %}#}






            {#<ul style="display: none;">#}
            {#<li>#}
            {#<input id="city4159859117" name="city4159" value="4159" data-name="Riga" data-depth="1" data-type="city" data-city-type="[&quot;Spa&quot;]" type="checkbox">#}
            {#<label for="city4159859117">Riga</label>#}
            {#<a href="{{ path('_slug', { 'url': placePage.url }) }}">#}
            {#<span class="fa fa-book"></span>#}
            {#</a>#}
            {#</li>#}
            {#</ul>#}








            {#{% endif %}#}


            {#</li>#}
            {#</ul>#}
            {#{% endif %}#}
            {#{% endfor %}#}








            {#{% endif %}#}


            {#</li>#}
            {#{% endif %}#}
            {#{% endfor %}#}

            {#</ul>#}





            {#{% endif %}#}


            {#</li>#}
            {#</ul>#}

            {##}
            {##}
            {##}
            {#{% endif %}#}

            {##}
            {##}
            {#{% endfor %}#}













            {% for node in nodes %}



                {% if node is null %}
                    {% set class = '' %}
                {% elseif node.nodeTranslation(lang) %}
                    {% set placePage = node.nodeTranslation(lang).ref(em) %}
                    {% if host %}
                        {% for h in placePage.hosts %}
                            {% if h.name == host %}

                                <ul class="{{ class }} dontsplit">

                                    <li {% if node.children.count > 0 %}class="parent-list"{% endif %}>
                                        {% if node.children.count > 0 %}
                                            <i class="fa fa-angle-down"></i>
                                        {% endif %}

                                        {% set rand1 = random(9999) %}
                                        {% set rand2 = random(9999) %}
                                        <input id="country{{ placePage.cityid }}{{ rand1 }}{{ rand2 }}" name="country{{ placePage.cityid }}" class="parent" value="{{ placePage.cityid }}" data-name="{{ node.nodeTranslation(lang).title }}" data-depth="0" data-type="country" data-city-type="[]" type="checkbox">
                                        {#<label for="country{{ placePage.cityid }}{{ rand1 }}{{ rand2 }}">{{ node.nodeTranslation(lang).title }}</label>#}
                                        {#<a href="{{ path('_slug', { 'url': node.nodeTranslation(lang).url }) }}"><span class="fa fa-book"></span></a>#}
                                        <a href="{{ path('_slug', { 'url': node.nodeTranslation(lang).url }) }}">{{ node.nodeTranslation(lang).title }}</a>

                                        {% if node.children.count > 0 %}





                                            <ul style="display: none;">


                                                {% for node2 in node.children if node2.refEntityName == "Sandbox\\WebsiteBundle\\Entity\\Place\\PlaceOverviewPage" %}
                                                    {% if node2.nodeTranslation(lang) %}
                                                        {% set placePage = node2.nodeTranslation(lang).ref(em) %}
                                                        {#{% for h2 in  placePage.hosts %}#}
                                                        {#{% if h2.name == host %}#}



                                                        <li {% if node2.children.count > 0 %}class="parent-list"{% endif %}>
                                                            {% if node2.children.count > 0 %}
                                                                <i class="fa fa-angle-down"></i>
                                                            {% endif %}


                                                            {% set rand1 = random(9999) %}
                                                            {% set rand2 = random(9999) %}
                                                            <input id="city{{ placePage.cityid }}{{ rand1 }}{{ rand2 }}" name="city{{ placePage.cityid }}" class="parent" value="{{ placePage.cityid }}" data-name="{{ node2.nodeTranslation(lang).title }}" data-depth="1" data-type="city" data-city-type="[]" type="checkbox">
                                                            {#<label for="city{{ placePage.cityid }}{{ rand1 }}{{ rand2 }}">{{ node2.nodeTranslation(lang).title }}</label>#}
                                                            {#<a href="{{ path('_slug', { 'url': node2.nodeTranslation(lang).url }) }}"><span class="fa fa-book"></span></a>#}
                                                            <a href="{{ path('_slug', { 'url': node2.nodeTranslation(lang).url }) }}">{{ node2.nodeTranslation(lang).title }}</a>

                                                            {% if node2.children.count > 0 %}



                                                                {% for node3 in node2.children if node3.refEntityName == "Sandbox\\WebsiteBundle\\Entity\\Place\\PlaceOverviewPage" %}
                                                                    {% if node3.nodeTranslation(lang) %}
                                                                        {% set placePage = node3.nodeTranslation(lang).ref(em) %}
                                                                        {#{% for h3 in placePage.hosts %}#}
                                                                        {#{% if h3.name == host %}#}


                                                                        <ul style="display: none;">

                                                                            <li {% if node3.children.count > 0 %}class="parent-list"{% endif %}>
                                                                                {% if node3.children.count > 0 %}
                                                                                    <i class="fa fa-angle-down"></i>
                                                                                {% endif %}


                                                                                {% set rand1 = random(9999) %}
                                                                                {% set rand2 = random(9999) %}
                                                                                <input id="city{{ placePage.cityid }}{{ rand1 }}{{ rand2 }}" name="city{{ placePage.cityid }}" class="parent" value="{{ placePage.cityid }}" data-name="{{ node3.nodeTranslation(lang).title }}" data-depth="2" data-type="city" data-city-type="[]" type="checkbox">
                                                                                {#<label for="city{{ placePage.cityid }}{{ rand1 }}{{ rand2 }}">{{ node3.nodeTranslation(lang).title }}</label>#}
                                                                                {#<a href="{{ path('_slug', { 'url': node3.nodeTranslation(lang).url }) }}"><span class="fa fa-book"></span></a>#}
                                                                                <a href="{{ path('_slug', { 'url': node3.nodeTranslation(lang).url }) }}">{{ node3.nodeTranslation(lang).title }}</a>

                                                                                {% if node3.children.count > 0 %}






                                                                                    <ul style="display: none;">
                                                                                        <li>
                                                                                            <input id="city4159859117" name="city4159" value="4159" data-name="Riga" data-depth="1" data-type="city" data-city-type="[&quot;Spa&quot;]" type="checkbox">
                                                                                            <label for="city4159859117">Riga</label>
                                                                                            <a href="{{ path('_slug', { 'url': placePage.url }) }}">
                                                                                                <span class="fa fa-book"></span>
                                                                                            </a>
                                                                                        </li>
                                                                                    </ul>








                                                                                {% endif %}


                                                                            </li>
                                                                        </ul>



                                                                        {#{% endif %}#}
                                                                        {#{% endfor %}#}


                                                                    {% endif %}
                                                                {% endfor %}








                                                            {% endif %}


                                                        </li>



                                                        {#{% endif %}#}
                                                        {#{% endfor %}#}



                                                    {% endif %}
                                                {% endfor %}

                                            </ul>





                                        {% endif %}


                                    </li>
                                </ul>





                            {% endif %}
                        {% endfor %}
                    {% else %}




                        <ul class="{{ class }}">

                            <li {% if node.children.count > 0 %}class="parent-list"{% endif %}>
                                {% if node.children.count > 0 %}
                                    <i class="fa fa-angle-down"></i>
                                {% endif %}

                                {#{% set rand1 = random(9999) %}#}
                                {#{% set rand2 = random(9999) %}#}
                                {#<input id="country{{ placePage.cityid }}{{ rand1 }}{{ rand2 }}" name="country{{ placePage.cityid }}" class="parent" value="{{ placePage.cityid }}" data-name="{{ node.nodeTranslation(lang).title }}" data-depth="0" data-type="country" data-city-type="[]" type="checkbox">#}
                                {#<label for="country{{ placePage.cityid }}{{ rand1 }}{{ rand2 }}">{{ node.nodeTranslation(lang).title }}</label>#}
                                {#<a href="{{ path('_slug', { 'url': node.nodeTranslation(lang).url }) }}"><span class="fa fa-book"></span></a>#}
                                <a href="{{ path('_slug', { 'url': node.nodeTranslation(lang).url }) }}">{{ node.nodeTranslation(lang).title }}</a>

                                {% if node.children.count > 0 %}


                                    <ul style="display: none;">

                                        {% for node2 in node.children %}
                                            {% if node2.nodeTranslation(lang) and node2.refEntityName == "Sandbox\\WebsiteBundle\\Entity\\Place\\PlaceOverviewPage" %}
                                                <li {% if node2.children.count > 0 %}class="parent-list"{% endif %}>
                                                    {% if node2.children.count > 0 %}
                                                        <i class="fa fa-angle-down"></i>
                                                    {% endif %}

                                                    {#{% set placePage = node2.nodeTranslation(lang).ref(em) %}#}
                                                    {#{% set rand1 = random(9999) %}#}
                                                    {#{% set rand2 = random(9999) %}#}
                                                    {#<input id="city{{ placePage.cityid }}{{ rand1 }}{{ rand2 }}" name="city{{ placePage.cityid }}" class="parent" value="{{ placePage.cityid }}" data-name="{{ node2.nodeTranslation(lang).title }}" data-depth="1" data-type="city" data-city-type="[]" type="checkbox">#}
                                                    {#<label for="city{{ placePage.cityid }}{{ rand1 }}{{ rand2 }}">{{ node2.nodeTranslation(lang).title }}</label>#}
                                                    {#<a href="{{ path('_slug', { 'url': node2.nodeTranslation(lang).url }) }}"><span class="fa fa-book"></span></a>#}
                                                    <a href="{{ path('_slug', { 'url': node2.nodeTranslation(lang).url }) }}">{{ node2.nodeTranslation(lang).title }}</a>

                                                    {% if node2.children.count > 0 %}



                                                        {% for node3 in node2.children.count if node3.refEntityName == "Sandbox\\WebsiteBundle\\Entity\\Place\\PlaceOverviewPage" %}
                                                            {% if node3.nodeTranslation(lang) %}
                                                                <ul style="display: none;">

                                                                    <li {% if node3.children.count > 0 %}class="parent-list"{% endif %}>
                                                                        {% if node3.children.count > 0 %}
                                                                            <i class="fa fa-angle-down"></i>
                                                                        {% endif %}

                                                                        {#{% set placePage = node3.nodeTranslation(lang).ref(em) %}#}
                                                                        {#{% set rand1 = random(9999) %}#}
                                                                        {#{% set rand2 = random(9999) %}#}
                                                                        {#<input id="city{{ placePage.cityid }}{{ rand1 }}{{ rand2 }}" name="city{{ placePage.cityid }}" class="parent" value="{{ placePage.cityid }}" data-name="{{ node3.nodeTranslation(lang).title }}" data-depth="2" data-type="city" data-city-type="[]" type="checkbox">#}
                                                                        {#<label for="city{{ placePage.cityid }}{{ rand1 }}{{ rand2 }}">{{ node3.nodeTranslation(lang).title }}</label>#}
                                                                        {#<a href="{{ path('_slug', { 'url': node3.nodeTranslation(lang).url }) }}"><span class="fa fa-book"></span></a>#}
                                                                        <a href="{{ path('_slug', { 'url': node3.nodeTranslation(lang).url }) }}">{{ node3.nodeTranslation(lang).title }}</a>

                                                                        {% if node3.children.count > 0 %}






                                                                            <ul style="display: none;">
                                                                                <li>
                                                                                    <input id="city4159859117" name="city4159" value="4159" data-name="Riga" data-depth="1" data-type="city" data-city-type="[&quot;Spa&quot;]" type="checkbox">
                                                                                    <label for="city4159859117">Riga</label>
                                                                                    <a href="{{ path('_slug', { 'url': placePage.url }) }}">
                                                                                        <span class="fa fa-book"></span>
                                                                                    </a>
                                                                                </li>
                                                                            </ul>








                                                                        {% endif %}


                                                                    </li>
                                                                </ul>
                                                            {% endif %}
                                                        {% endfor %}








                                                    {% endif %}


                                                </li>
                                            {% endif %}
                                        {% endfor %}

                                    </ul>





                                {% endif %}


                            </li>
                        </ul>
                    {% endif %}






                {% endif %}

            {% endfor %}

        </div>
        <div class="col-sm-3 host-from-places">
            {% include '@SandboxWebsite/Dropdown/fromcities.html.twig' %}
        </div>
    </div>
</div>