<div style="margin-top: -99999px" class="city-picker" id="dropdown-destination">
    <div class="city-filters">
        <h2 class="form-item-header">out{{ 'dropdown.destinations.header' | trans({}, 'frontend') }}</h2>

        <div class="form-item-desc">{{ 'dropdown.destinations.description' | trans({}, 'frontend') }}</div>
        <input data-type="Sun" name="sun" class="city-type-btn" id="sun" type="checkbox"><label
                for="sun">Sun</label>
        <input data-type="Ski" name="ski" class="city-type-btn" id="ski" type="checkbox"><label
                for="ski">Ski</label>
        <input data-type="Spa" name="spa" class="city-type-btn" id="spa" type="checkbox"><label
                for="spa">Spa</label>
        <input name="city-search" class="city-search" type="text"><label for="city-search"></label>
        <input name="map" id="map" type="checkbox"><label for="map">{{ 'map' | trans({}, 'frontend') }}</label>
        <input id="774966" class="all" name="check-all" type="checkbox"><label style="display: none;"
                                                                               class="check-all" for="774966">Un-Check
            All</label>
    </div>
<div class="city-list">
<div class="no-cities" style="display: none">{{ 'nothing.found' | trans }}</div>
<span class="city-picker-close glyphicon glyphicon-remove"></span>

{% if root is defined and root %}

    {% for country in nodes %}
        <ul class="dontsplit">
            <li {% if country.children|length > 0 %}class="parent-list"{% endif %}>
                {% if country.children|length > 0 %}
                    <i class="glyphicon glyphicon-chevron-down"></i>
                {% endif %}

                {% set rand1 = random(9999) %}
                {% set rand2 = random(9999) %}
                <input id="country{{ country.parent.cityId }}{{ rand1 }}{{ rand2 }}"
                       name="country{{ country.parent.cityId }}" class="parent"
                       value="{{ country.parent.cityId }}"
                       data-name="{{ country.parent.title }}"
                       data-depth="0" data-type="country" data-city-type="[]" type="checkbox">
                <a href="{{ path('_slug', { 'url': root.slug ~ "/" ~ country.parent.slug }) }}">{{ country.parent.title }}</a>

                {% if country.children|length > 0 %}
                    <ul style="display: none;">
                        {% for children in country.children %}
                            <li {% if children.children|length > 0 %}class="parent-list"{% endif %}>
                            {% if children.children|length > 0 %}
                                <i class="glyphicon glyphicon-chevron-down"></i>
                            {% endif %}
                                {% set rand1 = random(9999) %}
                                {% set rand2 = random(9999) %}
                                <input id="city{{ children.parent.cityId }}{{ rand1 }}{{ rand2 }}"
                                       name="city{{ children.parent.cityId }}" class="parent"
                                       value="{{ children.parent.cityId }}"
                                       data-name="{{ children.parent.title }}"
                                       data-depth="1" data-type="city" data-city-type="[]" type="checkbox">
                                <a href="{{ path('_slug', { 'url': root.slug ~ "/" ~ country.parent.slug ~ "/" ~ children.parent.slug }) }}">
                                    {{ children.parent.title }}
                                </a>


                                {% if children.children|length > 0 %}
                                    <ul style="display: none;">
                                        {% for subchildren in children.children %}
                                            <li {% if subchildren.children|length > 0 %}class="parent-list"{% endif %}>
                                                {% if subchildren.children|length > 0 %}
                                                    <i class="glyphicon glyphicon-chevron-down"></i>
                                                {% endif %}
                                                {% set rand1 = random(9999) %}
                                                {% set rand2 = random(9999) %}
                                                <input id="city{{ subchildren.parent.cityId }}{{ rand1 }}{{ rand2 }}"
                                                       name="city{{ subchildren.parent.cityId }}" class="parent"
                                                       value="{{ subchildren.parent.cityId }}"
                                                       data-name="{{ subchildren.parent.title }}"
                                                       data-depth="1" data-type="city" data-city-type="[]" type="checkbox">
                                                <a href="{{ path('_slug', { 'url': root.slug ~ "/" ~ country.parent.slug ~ "/" ~ children.parent.slug ~ "/" ~ subchildren.parent.slug }) }}">
                                                    {{ subchildren.parent.title }}
                                                </a>

                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

            </li>
        </ul>
    {% endfor %}

{% endif %}

</div>
</div>