{% if host and host.fromPlaces|length > 0 %}
    <h3>{{ 'dropdown.from.header'|trans({}, 'frontend') }}</h3>
    {% for page in host.fromPlaces %}
        {% set node = get_node_for(page) %}

        {% if node.nodeTranslation(lang) %}
            {% set placePage = node.nodeTranslation(lang).ref(em) %}
 
            <ul class="city-near dontsplit">
                <li {% if node.children.count > 0 %}class="parent-list"{% endif %}>
                    {% if node.children.count > 0 %}
                        <i class="fa fa-angle-down"></i>
                    {% endif %}

                    {% set rand1 = random(9999) %}
                    {% set rand2 = random(9999) %}
                    <input id="country{{ placePage.cityid }}{{ rand1 }}{{ rand2 }}" name="country{{ placePage.cityid }}" class="parent" value="{{ placePage.cityid }}" data-name="{{ node.nodeTranslation(lang).title }}" data-depth="0" data-type="country" data-city-type="[]" type="checkbox">
                    <a href="{{ path('_slug', { 'url': node.nodeTranslation(lang).url }) }}">{{ node.nodeTranslation(lang).title }}</a>

                    {% if node.children.count > 0 %}
                        <ul style="display: none;">
                            {% for node2 in node.children if node2.refEntityName == "Sandbox\\WebsiteBundle\\Entity\\Place\\PlaceOverviewPage" %}
                                {% if node2.nodeTranslation(lang) %}
                                    {% set placePage = node2.nodeTranslation(lang).ref(em) %}
                                    <li {% if node2.children.count > 0 %}class="parent-list"{% endif %}>
                                        {% if node2.children.count > 0 %}
                                            <i class="fa fa-angle-down"></i>
                                        {% endif %}

                                        {% set rand1 = random(9999) %}
                                        {% set rand2 = random(9999) %}
                                        <input id="city{{ placePage.cityid }}{{ rand1 }}{{ rand2 }}" name="city{{ placePage.cityid }}" class="parent" value="{{ placePage.cityid }}" data-name="{{ node2.nodeTranslation(lang).title }}" data-depth="1" data-type="city" data-city-type="[]" type="checkbox">
                                        <a href="{{ path('_slug', { 'url': node2.nodeTranslation(lang).url }) }}">{{ node2.nodeTranslation(lang).title }}</a>

                                        {% if node2.children.count > 0 %}
                                            <ul style="display: none;">
                                            {% for node3 in node2.children if node3.refEntityName == "Sandbox\\WebsiteBundle\\Entity\\Place\\PlaceOverviewPage" %}
                                                {% if node3.nodeTranslation(lang) %}
                                                    {% set placePage = node3.nodeTranslation(lang).ref(em) %}



                                                        <li {% if node3.children.count > 0 %}class="parent-list"{% endif %}>
                                                            {% if node3.children.count > 0 %}
                                                                <i class="fa fa-angle-down"></i>
                                                            {% endif %}


                                                            {% set rand1 = random(9999) %}
                                                            {% set rand2 = random(9999) %}
                                                            <input id="city{{ placePage.cityid }}{{ rand1 }}{{ rand2 }}" name="city{{ placePage.cityid }}" class="parent" value="{{ placePage.cityid }}" data-name="{{ node3.nodeTranslation(lang).title }}" data-depth="2" data-type="city" data-city-type="[]" type="checkbox">
                                                            <a href="{{ path('_slug', { 'url': node3.nodeTranslation(lang).url }) }}">{{ node3.nodeTranslation(lang).title }}</a>

                                                            {% if node3.children.count > 0 %}


                                                                <ul style="display: none;">
                                                                    <li>
                                                                        <input id="city4159859117" name="city4159" value="4159" data-name="Riga" data-depth="1" data-type="city" data-city-type="[&quot;Spa&quot;]" type="checkbox">
                                                                        <label for="city4159859117">Riga</label>
                                                                        <a href="{{ path('_slug', { 'url': placePage.url }) }}">
                                                                            <span class="fa fa-book"></span>
                                                                        </a>
                                                                    </li>
                                                                </ul>

                                                            {% endif %}

                                                        </li>


                                                {% endif %}
                                            {% endfor %}
                                            </ul>
                                        {% endif %}

                                    </li>

                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>

            </ul>

        {% endif %}


    {% endfor %}
{% endif %}