<div class="col-md-4 well hotell">
    <h3>{{ hotel.title }}</h3>
    <p>{% if hotel.city %}{{ hotel.city }}{% else %}{{ hotel.cityParish }}{% endif %}</p>
    <p>{{ hotel.street }}</p>

    {% if hotel_cheapest_package(hotel, app.request.locale) %}
        {{ hotel_cheapest_package(hotel, app.request.locale).minPrice }}
    {% endif %}
    <p>
        <a class="btn btn-primary" href="{{ path('_slug', {'url' : get_node_translation_for(hotel).fullSlug }) }}">{{ 'read.more'|trans({}, 'frontend') }}</a>
    </p>
</div>