{% extends '@SandboxWebsite/Layout/layoutMain.html.twig' %}

{% block hostLayout %}
<div class="row nomargin">
    <div class="col-md-9 col-md-offset-0_5">

        <!-- Travelbase -->
        {% include '@SandboxWebsite/Travelbase/tabs.html.twig' %}

        <section class="">
            <div class="row">
                <div class="col-md-12">
                    {% block breadcrumbs %}
                        {% if nodemenu is defined and nodemenu.breadCrumb|length > 1 %}
                            <nav role="navigation">
                                <ol class="breadcrumb">
                                    <li>
                                        {% set homepagePageNode = nodemenu.getNodeByInternalName('homepage') %}
                                        <a href="{{ path('_slug', { 'url': homepagePageNode.slug }) }}">
                                            {{ 'startpage' | trans({}, 'frontend') }}
                                        </a>
                                    </li>
                                    {% for node in nodemenu.breadCrumb %}
                                        {% if not loop.first %}
                                            {% if loop.last %}
                                                <li class="active">{{ node.title }}</li>
                                            {% else %}
                                                <li>
                                                    <a href="{{ path('_slug', { 'url': node.slug }) }}">{{ node.title }}</a>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ol>
                            </nav>
                        {% endif %}
                    {% endblock breadcrumbs %}
                </div>
            </div>
        </section>

        <!-- Main -->
        <main role="main">
            {% include "@SandboxWebsite/Ad/topAds.html.twig" %}
            {% block content %}{% endblock %}
            {% include "@SandboxWebsite/Ad/bottomAds.html.twig" %}
        </main>
    </div>
    <div class="col-md-3 sidebar">
        {% block club %}
            <div class="clubbar modal-content-img-{{ random([1,2,3]) }}">
                <h2>{{ 'club.header' | trans({}, 'frontend') }}</h2>




                {% block userlogin %}
                    {% include '@SandboxWebsite/User/loginForm.html.twig' %}
                {% endblock %}
            </div>

            {% if host %}
                {{ host.fbBlock|raw }}
            {% endif %}

            {% block sidebar %}{% endblock %}

            <div class="aviasales-widget-holder"></div>

        {% endblock %}
        {% include "@SandboxWebsite/Ad/sidebarAds.html.twig" %}
    </div>
</div>

    {% include '@SandboxWebsite/Travelbase/balticaMap.html.twig' %}
    <style>
        #map_wrapper{
            right: -42%;
            transition: right 1s ease;
        }
        #map-toggle-wrapper{
            position: fixed;
            top: 0;
            right: 0;
            z-index: 999;
        }
        #map_wrapper.map-show{
            right: 0;
        }
    </style>
    <div id="map-toggle-wrapper"><button type="button" id="map-toggle" class="btn btn-default">{{ 'show.map'|trans({}, 'frontend') }}</button></div>
    <script>
        $(document).ready(function () {
            $('#map-toggle').click(function () {
                if($('#map_wrapper').hasClass('map-show')){
                    $('#map_wrapper').removeClass('map-show');
                }else{
                    $('#map_wrapper').addClass('map-show');
                }
            });
        });
    </script>
{% endblock %}