{% extends 'SandboxWebsiteBundle:Layout:layout.html.twig' %}
{% block show_tab %}packages{% endblock %}

{% block content %}
    {#<div class="row">#}
        {#<div class="col-md-12">#}


            {#<label for="package-country" class="sr-only">{{ 'country'|trans({}, 'frontend') }}</label>#}
            {#<select name="package-country" id="package-country">#}
                {#<option value="-1" selected="selected">{{ 'any'|trans({}, 'frontend') }}</option>#}
                {#{% for place in countries %}#}
                    {#<option value="{{ place.cityid }}">{{ place.title }}</option>#}
                {#{% endfor %}#}
            {#</select>#}


            {#<label for="package-place" class="sr-only">{{ 'place'|trans({}, 'frontend') }}</label>#}
            {#<select name="package-place" id="package-place" class="hide">#}
                {#<option value="-1" selected="selected">{{ 'any'|trans({}, 'frontend') }}</option>#}
                {#&#123;&#35;{% for place in places %}&#35;&#125;#}
                    {#&#123;&#35;<option value="{{ place.cityid }}">{{ place.title }}</option>&#35;&#125;#}
                {#&#123;&#35;{% endfor %}&#35;&#125;#}
            {#</select>#}

            {#<label for="package-hotel" class="sr-only">{{ 'hotel'|trans({}, 'frontend') }}</label>#}
            {#<select name="package-hotel" id="package-hotel" class="hide">#}
                {#<option value="-1" selected="selected">{{ 'any'|trans({}, 'frontend') }}</option>#}
            {#</select>#}

            {#<input class="datepick" type="text" id="package-date-from" name="package-date-from" placeholder="{{ 'date.from'|trans({}, 'frontend') }}"/>#}

            {#<a href="#" id="package-filter" class="btn btn-primary">{{ 'filter'|trans({}, 'frontend') }}</a>#}
        {#</div>#}
    {#</div>#}

    {#<div class="row" id="package-holder">#}
        {#{% for package in pagerfanta.CurrentPageResults %}#}
            {#{% include '@SandboxWebsite/Package/package.html.twig' %}#}
        {#{% endfor %}#}
    {#</div>#}
{% endblock %}
