{% extends 'SandboxWebsiteBundle:Layout:layout.html.twig' %}
{% block content %}
    <div class="row">
        <select name="hotel-place" id="hotel-place">
            <option value="-1">{{ 'hotel.city'|trans({}, 'frontend') }}</option>
            {% for place in places %}
                <option value="{{ place.cityid }}">{{ place.title }}</option>
            {% endfor %}
        </select>

        <a class="btn btn-primary" id="hotel-filter" href="#">{{ 'hotel.filter'|trans({}, 'frontend') }}</a>

    </div>


    <div class="row" id="hotel-holder">

        {% for hotel in pagerfanta.CurrentPageResults %}
            {% include '@SandboxWebsite/Hotel/hotel.html.twig' %}
        {% endfor %}

        {#{% if pagerfanta.haveToPaginate %}#}
            {#{{ pagerfanta(pagerfanta, 'twitter_bootstrap3') }}#}
        {#{% endif %}#}
        {# does not paginate because of the route controller #}
    </div>
{% endblock %}
