<div class="row nomargin content content-panel">
	{% if news is not null %}
	<div class="news-panel col-md-6">
        <!-- News pane -->
        {% if news is not null %}
            {% if news > 0 %}

                <h2 class="topheader">{{ 'latest.news' | trans({}, 'frontend') }}</h2>
                {% for item in news %}
                    {% if loop.index == (loop.length/2)|round %}
                        {% include '@SandboxWebsite/Ad/middleAds.html.twig' %}
                    {% endif %}
 
                    {% set articlenode = get_node_translation_for(item) %}
                    {#{{ dump(item) }}#}

                       
			             
                    	<article class="main-news main-news--summary {% if item.priceFromLabel or item.priceFrom %}news-top-border{% endif %}">
                     	  {% if item.priceFromLabel or item.priceFrom %}
                                <div class="pull-right">
                                	<div class="price-from price-from-img">
                                		<div class="price-from-line"></div> 
	                                    <div class="price-from-inner pull-right">
	                                        <span style="font-size:16px;">
	                                           {% if item.priceFrom %} {{ item.priceFrom }}  {% endif %} {% if item.priceFrom and item.priceFromLabel %}/{% endif %} {% if item.priceFromLabel %}{{ item.priceFromLabel|trans({}, 'frontend', app.request.locale) }}{% endif %}
	                                        </span>
	                                    </div>
	                                </div>
                                </div>
                            {% endif %}	 
                            
                            	<header>  
	                       	<time class="main-news__meta">
	                            {{ item.date | datelocale('long', 'none')}}
	                    	</time>
                            &nbsp; <span class="fa fa-eye"></span> {{ item.viewCount }}
			            </header>  
                         <h3 class="main-news__title">
	                       		<a href="{{ path("_slug", {'url':articlenode.url}) }}">{{ item.title }}</a>
	                        </h3>
                        	  {% include '@SandboxWebsite/Layout/toplaces.html.twig' with {'ignore' : true} %}
                       
                        
                      
              
                        <div class="row">
                          
                            <div class="col-md-12">
                             
                              <div class="row">
		                        	
<div class="{% if item.image or (item.companies|length > 0 and item.companies[0].logo) %}col-xs-12{% else %}col-xs-12{% endif %}">
									{% if item.imgSize %}
	                                    	<a href="{{ path("_slug", {'url':articlenode.url}) }}">
	                                     	 <img src="{{ asset(item.image.url | imagine_filter("500x")) }}" alt="" class="img-responsive pull-right"/>
	                                    	</a>
		                            {% else %}
		                            	{% if item.image %}
	                                    	<a href="{{ path("_slug", {'url':articlenode.url}) }}">
	                                     	 <img src="{{ asset(item.image.url | imagine_filter("150x")) }}" alt="" class="img-responsive pull-right"/>
	                                    	</a>
			                            {% elseif item.companies|length > 0 %}
			                                {% if item.companies[0].logo %}
			                                {#<div class="col-xs-3">#}
		                                        {#<a href="{{ path("_slug", {'url':articlenode.url}) }}">#}
		                                            {#<img src="{{ asset(item.companies[0].logo.url | imagine_filter("150x")) }}" alt="" class="img-responsive pull-right"/>#}
		                                        {#</a>#}
		                                    {#</div>#}
			                                {% endif %}
			                            {% endif %}
		                            {% endif %}
		                            
		                            
			                            <p>{{ item.summary }}</p>
	                                    <a href="{{ path("_slug", {'url':articlenode.url}) }}">
	                                        {{ 'article.readmore' | trans }} &raquo;
	                                    </a>
                                	</div>
		                             
                              </div>
                       		</div>
                        </div>
                    </article>
                {% endfor %}

            {% endif %}
        {% else %}
          
        {% endif %}
    </div>
    {% endif %}	 
    {% if articles is not null %}
    <div class="articles-panel col-md-6">
        <!-- Articles pane -->
        {% if articles is not null %}
            {% if articles > 0 %}
                <h2 class="topheader">{{ 'latest.articles' | trans({}, 'frontend') }}</h2>
                {% for item in articles %}
                    {% set articlenode = get_node_translation_for(item) %}
                    {#{{ dump(item) }}#}
                    <article class="main-article article__overview--list-item">
                        <header>
                            <time>{{ item.date| datelocale}}</time>
                            &nbsp; <span class="fa fa-eye"></span> {{ item.viewCount }}
						</header>
                            
                            <h3>
                                <a href="{{ path("_slug", {'url':articlenode.url}) }}">{{ item.title }}</a>
                            </h3>
                            
                            {% include '@SandboxWebsite/Layout/toplaces.html.twig' with {'ignore' : true} %}

                        
                        {% if item.image %}
                            {% if item.imgSize == '300l' %}
                                <img src="{{ asset(item.image.url | imagine_filter("300x")) }}" alt="" class="img-responsive pull-left"/>
                            {% elseif item.imgSize == '300r' %}
                                <img src="{{ asset(item.image.url | imagine_filter("300x")) }}" alt="" class="img-responsive pull-right"/>
                            {% endif %}
                        {% endif %}


                        {% if item.image %}
                            {% if item.imgSize == '1000' %}
                                <a href="{{ path("_slug", {'url':articlenode.url}) }}"><img src="{{ asset(item.image.url | imagine_filter("1000x")) }}" alt="" class="img-responsive"/></a>
                            {% endif %}
                        {% endif %}
                        <p></p>
                        <p>{{ item.summary }}</p>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <a href="{{ path("_slug", {'url':articlenode.url}) }}" class="btn btn-primary">
                                    {{ 'article.readmore' | trans }}
                                </a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </article>

                    {#<div class="news">#}
                    {#<h4 class="title">#}
                    {#<a href="/{{ lang }}/{{ articlenode.url }}">{{ item.title }} <span class="date">{{ item.date | date("d/m/Y") }}</span></a>#}
                    {#</h4>#}
                    {#<p class="summary">#}
                    {#{{ item.summary }}#}
                    {#</p>#}
                    {#</div>#}
                {% endfor %}
            {% endif %}
        {% else %}
           
        {% endif %}
    </div>
    {% endif %}	
</div>
