<div class="row content content-panel">
	<div class="news-panel col-md-7">
        <!-- News pane -->
        {% if news is not null %}
            {% if news > 0 %}

                <h2 class="topheader">{{ 'latest.offers' | trans({}, 'frontend') }}</h2>
                {% for item in news %}

                    {% set articlenode = get_node_translation_for(item) %}
                    {#{{ dump(item) }}#}

                    <article class="main-article main-article--summary">
                        
                        <header>
                           
                        	 {% include '@SandboxWebsite/Layout/toplaces.html.twig' with {'ignore' : true} %}
                        	
                        	 <time class="main-article__meta">
                                {{ item.date | datelocale}}
                        	</time>
                        	
                            <h3 class="main-article__title">
                               
                           		<a href="{{ path("_slug", {'url':articlenode.url}) }}">{{ item.title }}</a>
                            </h3>
                        </header>

                        <div class="row">
                          
                            <div class="{% if item.image or item.companies[0].logo %}col-md-12{% else %}col-md-12{% endif %}">
                              
                              {% if item.priceFromLabel or item.priceFrom %}
                                    <div class="pull-right">
                                    <div class="price-from price-from-img">
                                        <div class="price-from-inner pull-right">
                                            <span style="font-size:16px;">
                                               {% if item.priceFrom %} {{ item.priceFrom }}  {% endif %} {% if item.priceFrom and item.priceFromLabel %}/{% endif %} {% if item.priceFromLabel %}{{ item.priceFromLabel|trans({}, 'frontend', app.request.locale) }}{% endif %}
                                            </span>
                                        </div>
                                    </div>
                                    </div>
                                {% endif %}
                             
                             {{ item.summary }} 
                             
                              <div class="row">
		                        	<div class="col-md-9">
	                                    <a href="{{ path("_slug", {'url':articlenode.url}) }}" class="btn btn-primary main-article__readmore">
	                                        {{ 'article.readmore' | trans }}
	                                    </a>
                                	</div>
                                	<div class="col-md-3">
                             
		                            {% if item.image %}
		                                    <a href="{{ path("_slug", {'url':articlenode.url}) }}">
		                                        <img src="{{ asset(item.image.url | imagine_filter("300x")) }}" alt="" class="img-responsive pull-right"/>
		                                    </a> 
		                            {% elseif item.companies|length > 0 %}
		                                {% if item.companies[0].logo %}
		                                        <a href="{{ path("_slug", {'url':articlenode.url}) }}">
		                                            <img src="{{ asset(item.companies[0].logo.url | imagine_filter("300x")) }}" alt="" class="img-responsive pull-right"/>
		                                        </a>
		                                {% endif %}
		                            {% endif %}
                            		 </div>
                       			</div>
                    </article>
                {% endfor %}

            {% endif %}
        {% else %}
          
        {% endif %}
    </div>
    <div class="content col-md-5">
        <!-- Articles pane -->
        {% if articles is not null %}
            {% if articles > 0 %}
                <h2 class="topheader">{{ 'latest.articles' | trans({}, 'frontend') }}</h2>
                {% for item in articles %}
                    {% set articlenode = get_node_translation_for(item) %}
                    {#{{ dump(item) }}#}
                    <article class="main-article main-article--summary article__overview--list-item">
                        <header>
                            <time>{{ item.date| datelocale}}</time>

                            {% include '@SandboxWebsite/Layout/toplaces.html.twig' with {'ignore' : true} %}

                            <h3>
                                {% if item.priceFrom %}<div class="pull-right"><div class="price-from price-from-img"><div class="price-from-inner pull-right"><span>{{ item.priceFrom }} {% if item.priceFromLabel %}/ {{ item.priceFromLabel|trans({}, 'frontend', app.request.locale) }}{% endif %}</span></div></div></div>{% endif %}
                                <a href="{{ path("_slug", {'url':articlenode.url}) }}">{{ item.title }}</a>
                            </h3>
                        </header>
                        {% if item.image %}
                            {% if item.imgSize == '300l' %}
                                <img src="{{ asset(item.image.url | imagine_filter("300x")) }}" alt="" class="img-responsive pull-left"/>
                            {% elseif item.imgSize == '300r' %}
                                <img src="{{ asset(item.image.url | imagine_filter("300x")) }}" alt="" class="img-responsive pull-right"/>
                            {% endif %}
                        {% endif %}


                        {% if item.image %}
                            {% if item.imgSize == '1000' %}
                                <a href="{{ path("_slug", {'url':articlenode.url}) }}"><img src="{{ asset(item.image.url | imagine_filter("1000x")) }}" alt="" class="img-responsive"/></a>
                            {% endif %}
                        {% endif %}
                        <p></p>
                        <p>{{ item.summary }}</p>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <a href="{{ path("_slug", {'url':articlenode.url}) }}" class="btn btn-primary">
                                    {{ 'article.readmore' | trans }}
                                </a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </article>

                    {#<div class="news">#}
                    {#<h4 class="title">#}
                    {#<a href="/{{ lang }}/{{ articlenode.url }}">{{ item.title }} <span class="date">{{ item.date | date("d/m/Y") }}</span></a>#}
                    {#</h4>#}
                    {#<p class="summary">#}
                    {#{{ item.summary }}#}
                    {#</p>#}
                    {#</div>#}
                {% endfor %}
            {% endif %}
        {% else %}
           
        {% endif %}
    </div>
</div>
