<!DOCTYPE html>
{% set htmlLocale = app.request.locale|default(defaultlocale)|slice(0,2) %}
<!--[if lt IE 7]>       <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ htmlLocale }}"> <![endif]-->
<!--[if IE 7]>          <html class="no-js lt-ie9 lt-ie8" lang="{{ htmlLocale }}">        <![endif]-->
<!--[if IE 8]>          <html class="no-js lt-ie9" lang="{{ htmlLocale }}">               <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" lang="{{ htmlLocale }}">                  <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {#{{ websitetitle | trans }}#}
        {% block title %}{% if page is defined  %} {{ get_title_for(page) }}{% endif %}{% endblock %}</title>
    {% if page is defined %}
        {{ render_seo_metadata_for(page) }}
    {% endif %}

    <!-- favicon - apple touch icons -->
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('apple-touch-icon-144x144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset('apple-touch-icon-120x120-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('apple-touch-icon-114x114-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('apple-touch-icon-72x72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('apple-touch-icon-precomposed.png') }}">

    <!-- css -->
    {% include 'SandboxWebsiteBundle:Layout:_css.html.twig' %}

    {# CUSTOM CSS #}
    <link href="{{ asset("bundles/sandboxwebsite/frontend/js/select2/select2.css") }}" rel="stylesheet" type="text/css">
    <link href="{{ asset("bundles/sandboxwebsite/frontend/js/jquery-ui-1.11.2/jquery-ui.min.css") }}" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sandboxwebsite/frontend/js/datepick/jquery.datepick.custom.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sandboxwebsite/frontend/js/jstree/themes/default/style.css') }}">


    <link href="{{ asset("bundles/sandboxwebsite/frontend/js/fancybox/jquery.fancybox.css") }}" rel="stylesheet" type="text/css">
    <link href="{{ asset("bundles/sandboxwebsite/frontend/js/fancybox/helpers/jquery.fancybox-thumbs.css") }}" rel="stylesheet" type="text/css">
    <link href="{{ asset("bundles/sandboxwebsite/frontend/js/calendar/calendar.css") }}" rel="stylesheet" type="text/css">
    <link href="{{ asset("bundles/sandboxwebsite/frontend/css/travelbase.css") }}" rel="stylesheet" type="text/css">


	 <!--[if gt IE 7]><!-->
        <link rel="stylesheet" href="{{ asset("bundles/sandboxwebsite/frontend/css/ie.css") }}"type="text/css">
   <!--<![endif]-->
   

    {% if host and file_exists( root_path ~ "web/bundles/sandboxwebsite/frontend/css/" ~ host.name ~ ".css") %}
        <link href="{{ asset("bundles/sandboxwebsite/frontend/css/" ~ host.name ~ ".css") }}" rel="stylesheet" type="text/css">
    {% endif %}

    <!-- webfonts - should be included through css-method -->
    {#<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>#}

    <!-- js -->
    {% include 'SandboxWebsiteBundle:Layout:_js_header.html.twig' %}

    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <script src="{{ asset('bundles/sandboxwebsite/frontend/js/jquery-2.1.1.min.js') }}"></script>
    <script src="{{ asset('bundles/sandboxwebsite/frontend/js/isotope.pkgd.min.js') }}"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

</head>
<body {% block extra_body_attributes %}{% endblock %} data-lang="{{ app.request.locale }}" {% if app.user %}data-user='{{ app.user.id }}'{% endif %}
    data-tab="{% block show_tab %}{% endblock %}">

{# DROPDOWN MENU #}
{% include "@SandboxWebsite/Travelbase/dropdown.html.twig" %}

<div class="out-of-body">

<div id="fb-root"></div>

{% include 'SandboxWebsiteBundle:Layout:_googletagmanager.html.twig' %}
{% include '@SandboxWebsite/Google/rannapuhkus.ee.html.twig' %}

{% block header %}

    <!--[if lte IE 9]>
    <div class="outdated">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="outdated__title">You are using an outdated browser.</h1>
                    <h3 class="outdated__subtitle">Some content may be lost or not displayed correctly.</h3>
                    <p class="outdated__description">Please consider upgrading to a more recent browser.</p>
                    <a href="http://browsehappy.com/?locale={{ htmlLocale }}" target="_blank" class="outdated__link">Upgrade your browser</a>
                </div>
            </div>
        </div>
    </div>
    <![endif]-->

    <!-- Header -->
    <header role="header" class="main-header">
        <section class="splash splash--{% block pagetitleColor %}green{% endblock %} mainbg {{ render(controller('SandboxWebsiteBundle:Travelbase:getRandomImageClass')) }}"
                 style="background-image: url('{% block mainBgUrl %}{{ render(controller('SandboxWebsiteBundle:Travelbase:getRandomImageUrl')) }}{% endblock %}')">

            <div class="hidden-xs top-img-title">{% block topImgTitle %}{{ render(controller('SandboxWebsiteBundle:Travelbase:getRandomImageTitle')) }}{% endblock %}</div>
            <div class=" splash__container">
                <div class="row nomargin">
                    <div class="site-logo">
                        <a href="/"></a>
                    </div>
                    {{ render(controller('SandboxWebsiteBundle:Travelbase:menu')) }}
                    <div class="col-md-10 col-md-offset-0_5">
                    {% include "@SandboxWebsite/Travelbase/form.html.twig" %}
                    </div>
                </div>
            </div>
        </section>
    </header>
{% endblock %}

{% block hostLayout %}

{% endblock %}

{#{% if host and file_exists(root_path ~ "src/Sandbox/WebsiteBundle/Resources/views/Layout/hosts/"~host.name~".html.twig") %}#}
    {#{% include '@SandboxWebsite/Layout/hosts/'~host.name~'.html.twig' %}#}
{#{% else %}#}
    {#{% include '@SandboxWebsite/Layout/hosts/default.html.twig' %}#}
{#{% endif %}#}

{% block footer %}
    <!-- Footer -->
    <footer role="footer" class="footer">
        <section class="splash splash--gray-dark">
            <div class="row nomargin">
                <div class="col-md-11 col-md-offset-0_5 margin-top-20">
                    <nav class="col-xs-12 col-sm-3 col-md-3 col--padded doormat">
                        {{ render(controller('SandboxWebsiteBundle:Travelbase:topTen')) }}
                    </nav>
                    {#{{ render(controller('SandboxWebsiteBundle:Travelbase:articleFooter')) }}#}
                    {{ render(controller('SandboxWebsiteBundle:Travelbase:companyFooter')) }}
                    {{ render(controller('SandboxWebsiteBundle:Travelbase:placesFooter')) }}
                </div>
                {% block seoFooter %}{% endblock %}
            </div>
        </section>
        <section class="hidden-xs hidden-sm hidden-md hidden-lg">
            <div class="container">
                <div class="row nomargin">
                    <div class="col-md-12">
                        <p class="pull-left">
                            &copy; {{ "now"|date("Y") }}
                            {% if nodemenu is defined %}
                                {% set sitemap = nodemenu.getNodeByInternalName('sitemap') %}
                                {% if (sitemap != null and sitemap.online) %}- <a href="{{ path('_slug', { 'url': sitemap.slug }) }}">{{ sitemap.title }}</a>{% endif %}
                            {% endif %}
                        </p>
                        <p class="pull-right created-by">
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </footer>
{% endblock %}

{% include '@SandboxWebsite/User/modalRegistration.html.twig' %}
{% include '@SandboxWebsite/User/modalUserData.html.twig' %}
{% include '@SandboxWebsite/Layout/modal.html.twig' %}
{% include '@SandboxWebsite/Layout/modalFlashBag.html.twig' %}

{% include 'SandboxWebsiteBundle:Layout:_js_footer.html.twig' %}
</div>
</body>
</html>
