{#{% if item is defined and item.places.count > 0 %}#}
    {#<div class="to-places ignore pull-right {% if item.places.count > 4 %}margin-top-bottom-10{% endif %}">#}
        {#<span class="glyphicon glyphicon-map-marker"></span>#}
        {#{% for place in item.places %}#}
            {#{% if get_node_translation_for(place) %}#}
                {#<a href="{{ path("_slug", { 'url' : get_node_translation_for(place).fullSlug }) }}">{{ place.title }}</a> {% if loop.last == false %}/{% endif %}#}
            {#{% endif %}#}
        {#{% endfor %}#}
    {#</div>#}
{#{% endif %}#}


{% if item is defined and item.places.count > 0 %}
    <div class="to-places pull-right">
        <span class="glyphicon glyphicon-map-marker"></span>
        {% for place in item.places %}
            {% if get_node_translation_for(place) %}
                {% if get_node_for(place).level > 2 %}
                    {% set type = 'city' %}
                {% else %}
                    {% set type = 'country' %}
                {% endif %}


                {% if host %}
                    {% if place.hosts.contains(host) %}
                        <a data-id="{{ place.cityId }}" data-type="{{ type }}" data-lvl="{{ get_node_for(place).level }}" href="{{ path("_slug", { 'url' : get_node_translation_for(place).fullSlug }) }}">{{ place.title }}</a> {% if loop.last == false %}/{% endif %}
                    {% else %}
                        <span data-id="{{ place.cityId }}" data-type="{{ type }}" data-lvl="{{ get_node_for(place).level }}">{{ place.title }}</span> {% if loop.last == false %}/{% endif %}
                    {% endif %}
                {% else %}
                    <a data-id="{{ place.cityId }}" data-type="{{ type }}" data-lvl="{{ get_node_for(place).level }}" href="{{ path("_slug", { 'url' : get_node_translation_for(place).fullSlug }) }}">{{ place.title }}</a> {% if loop.last == false %}/{% endif %}
                {% endif %}


            {% endif %}
        {% endfor %}
    </div>
{% endif %}