{% if get_node_for(place).level > 2 %}
    {% set type = 'city' %}
{% else %}
    {% set type = 'country' %}
{% endif %}

<span data-id="{{ place.cityId }}" data-type="{{ type }}" data-lvl="{{ get_node_for(place).level }}">{{ place.title }} {{ qwe }}</span>