<div class="col-md-4 well package" data-package-id="{{ package.packageId }}">

    <h3>
        {% if package.titleTranslated %}
            {{ package.titleTranslated }}
        {% else %}
            {{ package.title }}
        {% endif %}
        {% if package.originalLanguage %}
            <img src="{{ asset('bundles/sandboxwebsite/img/flags/' ~ package.originalLanguage ~ '.gif') }}"/>
        {% endif %}
    </h3>
    <p>
        {% if package.summary %}
            {{ package.summary |raw }}
        {% else %}
            {{ package.description |raw }}
        {% endif %}
    </p>
    <p>{{ package.minprice }}</p>
    {% if package.image %}
        <p><img src="{{ package.image }}" class="img-responsive"/></p>
    {% endif %}
    <p>
        <a class="btn btn-primary" href="{{ path('_slug', {'url' : get_node_translation_for(package).fullSlug }) }}">{{ 'read.more'|trans({}, 'frontend') }}</a>
        {#<a data-package-id="{{ package.packageId }}" class="package-calendar-show btn btn-default" href="#">{{ 'show.calendar'|trans({}, 'frontend') }}</a>#}
    </p>

    {#<div class="btn-group package-calendar-control hide">#}
        {#<button class="btn btn-primary package-calendar-navigate" data-calendar-nav="prev">&lt;&lt; {{ 'prev'|trans({}, 'frontend') }}</button>#}
        {#<button class="btn package-calendar-navigate" data-calendar-nav="today">{{ 'today'|trans({}, 'frontend') }}</button>#}
        {#<button class="btn btn-primary package-calendar-navigate" data-calendar-nav="next">{{ 'next'|trans({}, 'frontend') }} &gt;&gt;</button>#}
    {#</div>#}

    {#<div class="package-calendar"></div>#}
</div>