
		<div class="row">
			<div class="col-md-7 col-xs-12">
			<h2>
			{% if hotel %}
				{{ hotel.title }}
			{% else %}
				{% if page.titleTranslated %}
			        {{ page.titleTranslated }}
			    {% else %}
			        {{ page.title }}
			    {% endif %}
			{% endif %}
			</h2>
			</div>
			<div class="col-md-5 col-xs-12 text-right">
				{% if page.minprice %}
	            <div class="price-from price-from-img">
	                <div class="price-from-inner pull-right">
	                    <span>
	                    	{{ page.minprice |number_format(0, '.', ',')}} &euro; 
	                    	<span>/ 2{{ 'price.per.pers'|trans({}, 'frontend') }}
	                    		
	                    	{% if page.duration %}
						         {% if page.duration == '1' %} 
						         	{{ page.duration }}{{ 'night'|trans({}, 'frontend') }}
						         {% else %}
						         	{{ page.duration }}{{ 'nights'|trans({}, 'frontend') }}
						         {% endif %}
					        {% endif %}
					        
	                    	</span>
	                    </span>
	                </div>
	            </div>
	        	{% endif %}
			</div>
			
		</div>	
		<div class="row">
	<div class="col-md-12">
		
	
		
	
		
                    
                    
		
		
		
		
		
		
		
		<div role="tabpanel" class="tabs-packages">

		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="package" class="active"><a href="#package" aria-controls="package" role="tab" data-toggle="tab">{{ 'hv.package.tabheader' | trans({}, 'frontend') }}</a></li>
		    <li role="hotel"><a href="#hotel" aria-controls="hotel" role="tab" data-toggle="tab">{{ 'hv.hotel.and.location.tabheader' | trans({}, 'frontend') }}</a></li>
		    <li role="rooms"><a href="#rooms" aria-controls="rooms" role="tab" data-toggle="tab">{{ 'hv.rooms.tabheader' | trans({}, 'frontend') }}</a></li>
		  </ul>
		
		  <!-- Tab panes -->
			<div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="package">
			
					<div class="col-md-7 col-sm-12">
					<h4>
					    {% if page.titleTranslated %}
					        {{ page.titleTranslated }}
					    {% else %}
					        {{ page.title }}
					    {% endif %}
					    {% if page.duration %}
					         ({% if page.duration == '1' %}{{ page.duration }} {{ 'night'|trans({}, 'frontend') }}{% else %}{{ page.duration }} {{ 'nights'|trans({}, 'frontend') }}{% endif %})
				        {% endif %}
					</h4>
					
					 {% if page.originalLanguage and page.originalLanguage == 'ee' and app.request.locale != 'ee' %}
							<div class="autotranslate">{{ 'automatic.translate'|trans({}, 'frontend') }} <img class="pull-right translate-flag" width="20" src="{{ asset('bundles/sandboxwebsite/img/flags/' ~ page.originalLanguage ~ '.gif') }}"/></div>
							
					 {% endif %}
					<p>
					    {% if page.summary %}
					        {{ page.summary |raw }}
					    {% else %}
					        {{ page.description |raw }}
					    {% endif %}
					</p>
			
					
					{% if page.image %}
					    <img src="{{ page.image }}" alt="" class="img-responsive"/>
					{% endif %}
					
					<h4>
					    {{ 'book.online.hv.package.inc' | trans({}, 'frontend') }}
					</h4>
					{{ render_pageparts(page, 'information') }}
					
					</div>
					<div class="col-md-5 col-sm-12 calendar-page">
						<h3>
						    {{ 'book.online.header' | trans({}, 'frontend') }}
						</h3>
						<p>{{ 'book.online.hv.desc' | trans({}, 'frontend') }}</p>
						<div class="btn-group package-calendar-control">
						    <button class="btn btn-primary disabled package-calendar-navigate-prev package-calendar-navigate" data-calendar-nav="prev"><span class="fa fa-angle-double-left"></span></button>
						    <button class="btn package-calendar-today"><div class="package-calendar-header"></div></button>
						    <button class="btn btn-primary package-calendar-navigate" data-calendar-nav="next"><span class="fa fa-angle-double-right"></span></button>
						</div>

                        

						<div data-package-id="{{ page.packageId }}" data-date-from="{{ fromdate }}" class="package-calendar"></div>
						<div class="package-terms">
							<p>{{ 'book.online.hv.about' | trans({}, 'frontend') }}</p>
							<p>{{ 'book.online.hv.cancel' | trans({}, 'frontend') }}</p>
						</div>
							
						
					</div>
				</div>
			    <div role="tabpanel" class="tab-pane" id="hotel">
				
					{% if hotel %}
				    <div class="row">
				        <div class="col-md-6">
				            <h4>{{ hotel.title }}</h4>
				            <p>{{ hotel.longDescription|raw }}</p>
				            
				            <a class="btn btn-primary" href="{{ path('_slug', {'url' : get_node_translation_for(hotel).fullSlug }) }}">
				            	{{ 'hv.hotel.info.and.packages' | trans({}, 'frontend') }}
				            </a>	
				        </div>
				        <div class="col-md-6">
				            <div id="map_wrapper2">
				                <div id="map_canvas2" class="mapping"></div>
				            </div>
				        </div>
				    </div>
				    
				    
				      <script>

                          var map2;

		        jQuery(function($) {
		            // Asynchronously Load the map API
		            var script = document.createElement('script');
		            script.src = "http://maps.googleapis.com/maps/api/js?sensor=false&callback=initialize2";
		            document.body.appendChild(script);

		        });
		
		        function initialize2() {
		            var bounds = new google.maps.LatLngBounds();
		            var mapOptions = {
		                mapTypeId: 'roadmap'
		            };
		
		            // Display a map on the page
		            map2 = new google.maps.Map(document.getElementById("map_canvas2"), mapOptions);
		            map2.setTilt(45);
		
		            var markers = [];
		            var infoWindowContent = [];
		
		            {% if hotel.longitude and hotel.latitude %}
		
		            // Multiple Markers
		            markers.push(['{{ hotel.title }}', {{ hotel.latitude }}, {{ hotel.longitude }}]);
		            // Info Window Content
		            infoWindowContent.push(
		                    ['<div class="info_content">' +
		                    '<h3>{{ hotel.title }}</h3>' +
		                    '<p>{{ hotel.shortDescription }}</p>' +
		                    {% if hotel_cheapest_package(hotel, app.request.locale) %}
		                    '<p>{{ hotel_cheapest_package(hotel, app.request.locale).minPrice }}</p>' +
		                    {% endif %}
		                    '</div>'
		                    ]);
		
		            {% endif %}
		
		
		
		
		
		            // Display multiple markers on a map
		            var infoWindow = new google.maps.InfoWindow(), marker, i;
                    var position;
		            // Loop through our array of markers & place each one on the map
		            for( i = 0; i < markers.length; i++ ) {
		                position = new google.maps.LatLng(markers[i][1], markers[i][2]);
		                bounds.extend(position);
		                marker = new google.maps.Marker({
		                    position: position,
		                    map: map2,
		                    title: markers[i][0]
		                });
		
		                // Allow each marker to have an info window
		                google.maps.event.addListener(marker, 'click', (function(marker, i) {
		                    return function() {
		                        infoWindow.setContent(infoWindowContent[i][0]);
		                        infoWindow.open(map2, marker);
		                    }
		                })(marker, i));
		
		                // Automatically center the map fitting all markers on the screen
		                map2.fitBounds(bounds);
		            }

                    //map.setCenter(bounds.getCenter());

		            // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
		            var boundsListener = google.maps.event.addListener((map2), 'bounds_changed', function(event) {
		                this.setZoom(11);
		                google.maps.event.removeListener(boundsListener);
		            });


                    $('a[href="#hotel"]').on('shown.bs.tab', function(e)
                    {
                        google.maps.event.trigger(map2, 'resize');
                        map2.setCenter(position);
                    });

		        }
		    </script>
				    
				    
					{% endif %}
			
			
				</div>
				
				<div role="tabpanel" class="tab-pane" id="rooms">
				
					{{ render_pageparts(page, 'rooms') }}
			
				</div>
				
			</div>
		
		</div>

	
	</div>
	
</div>
	{% include '@SandboxWebsite/Layout/disqus.html.twig' %}
<div class="row">
	<div class="col-md-12 col-sm-12">
	
	{{ render_pageparts(page, 'main') }}

	</div>
</div>

		  