{% extends 'SandboxWebsiteBundle:Layout:layout.html.twig' %}

{% block mainBgUrl %}
    {% if page.topImage is not null and page.topImage.picture is not null %}{{ page.topImage.picture.url }}{% else %}
        {{ render(controller('SandboxWebsiteBundle:Travelbase:getRandomImageUrl')) }}{% endif %}
{% endblock %}

{% block topImgTitle %}
    {% if page.topImage is not null and page.topImage.picture is not null %}
        {{ render(controller('SandboxWebsiteBundle:Travelbase:getRandomImageTitle', { 'image': page.topImage})) }}
    {% else %}
        {{ render(controller('SandboxWebsiteBundle:Travelbase:getRandomImageTitle')) }}
    {% endif %}
{% endblock %}

{% block sidebar %}
    {{ 'test 21' | trans({}, 'tag') }}
    <div class="">
        <h2>{{ page.title }}</h2>
        {#{{ render_pageparts(page, 'main') }}#}
        {% set count = 0 %}
        {# 1 level #}
        {% if places > 0 %}
            <ul class="article__overview--list">
                {% for article in places %}
                    {% if host %}
                        {% if host in article.publicNodeVersion.getRef(em).hosts %}
                            <li class="article__overview--list-item">
                                {#{{ dump(article) }}#}
                                {#{{ dump(article.publicNodeVersion.getRef(em)) }}#}
                                {#{% set articlenode = get_node_translation_for(article) %}#}
                                <h4><a href="{{ path('_slug', { 'url': article.url }) }}">{{ article.title }}</a></h4>
                                {# 2 level #}
                                {% if article.node.children.count > 0 %}
                                    <ul class="article__overview--list">
                                        {% for node in article.node.children%}
                                            {% if host in node.NodeTranslation(lang).publicNodeVersion.getRef(em).hosts %}
                                                <li class="article__overview--list-item">
                                                    <h5><a href="{{ node.NodeTranslation(lang).url }}">{{ node.NodeTranslation(lang).title }}</a></h5>

                                                    {# 3 level #}
                                                    {% if node.children.count > 0 %}
                                                        <ul class="article__overview--list">
                                                            {% for node2 in node.children%}
                                                                {% if host in node2.NodeTranslation(lang).publicNodeVersion.getRef(em).hosts %}
                                                                    <li class="article__overview--list-item">
                                                                        <h5><a href="{{ node2.NodeTranslation(lang).url }}">{{ node2.NodeTranslation(lang).title }}</a></h5>
                                                                    </li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                                {#{{ article.summary }}#}
                                {#<time>{{ article.date | date("d/m/Y")}}</time>#}
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="article__overview--list-item">
                            {#{{ dump(article) }}#}
                            {#{{ dump(article.publicNodeVersion.getRef(em)) }}#}
                            {#{% set articlenode = get_node_translation_for(article) %}#}
                            <h4><a href="{{ path('_slug', { 'url': article.url }) }}">{{ article.title }}</a></h4>
                            {# 2 level #}
                            {% if article.node.children.count > 0 %}
                                <ul class="article__overview--list">
                                    {% for node in article.node.children%}
                                        {% if node.NodeTranslation(lang) %}
                                            <li class="article__overview--list-item">
                                                <h5><a href="{{ node.NodeTranslation(lang).url }}">{{ node.NodeTranslation(lang).title }}</a></h5>

                                                {# 3 level #}
                                                {% if node.children.count > 0 %}
                                                    <ul class="article__overview--list">
                                                        {% for node2 in node.children%}
                                                            <li class="article__overview--list-item">
                                                                <h5><a href="{{ node2.NodeTranslation(lang).url }}">{{ node2.NodeTranslation(lang).title }}</a></h5>
    

                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}

                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            {#{{ article.summary }}#}
                            {#<time>{{ article.date | date("d/m/Y")}}</time>#}
                        </li>
                    {% endif %}


                    {% set count = count + 1 %}
                {% endfor %}
            </ul>
            {#{% if pagerfanta.haveToPaginate() %}#}
            {#{{ pagerfanta(pagerfanta) }}#}
            {#{% endif %}#}
        {% endif %}


        {{ render(controller('SandboxWebsiteBundle:Subscription:subscribeForm', {'page' : page})) }}

        {% if preferredtags is defined %}
            <div class="tags-block">
                <h2>Tags</h2>
                {% for tag in tags %}
                    <div>
                        <a href="{{ app.request.requestUri ~ "/" ~ tag.name | replace({' ': "_"}) }}">{{ tag.name }}</a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if preferredtags is defined %}
            <div class="preferred-tags-block">
                <h2>Categories</h2>
                {% for pt in preferredtags %}
                    {% if pt.tag is not null %}
                        <div class="{{ pt.class }}">
                            <a href="{{ app.request.requestUri ~ "/" ~ pt.tag.name | replace({' ': "_"}) }}">{{ pt.tag.name }}</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

    </div>
{% endblock %}

{% block content %}


    <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#news" aria-controls="home" role="tab" data-toggle="tab">News</a></li>
            <li role="presentation"><a href="#articles" aria-controls="profile" role="tab" data-toggle="tab">Articles</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="news">

                <!-- News pane -->
                {% if news is not null %}
                    {% if news > 0 %}
                        
                        {% if item.image %}
                            {% if item.imgSize == '300l' %}
                                {% if item.priceFrom %}<div class="price-from price-from-img-left pull-right"><div class="price-from-inner pull-right"><span>{{ item.priceFrom }}</span></div></div>{% endif %}
               	 				<img src="{{ asset(item.image.url | imagine_filter("300x")) }}" alt="" class="img-responsive pull-left"/>
                            {% elseif item.imgSize == '300r' %}
                                {% if item.priceFrom %}<div class="price-from price-from-img pull-right"><div class="price-from-inner pull-right"><span>{{ item.priceFrom }}</span></div></div>{% endif %}
                				<img src="{{ asset(item.image.url | imagine_filter("300x")) }}" alt="" class="img-responsive pull-right"/>
                            {% endif %}
                        {% endif %}
                                
                        {#<h2>News</h2>#}
                        {% for item in news %}
                            {% set articlenode = get_node_translation_for(item) %}
                            {#{{ dump(item) }}#}

                            <article class="main-article main-article--summary">
                                <header>
                                    <time class="main-article__meta">
                                        {{ item.date | date("d.m.Y") }}
                                    </time>
                                    <h4 class="main-article__title">
                                        <a href="/{{ lang }}/{{ articlenode.url }}">{{ item.title }}<span class="price-from pull-right">{{ item.priceFrom }}</span></a>
                                    </h4>
                                </header>
                                {{ item.summary }}
                                <p>
                                    <a href="/{{ lang }}/{{ articlenode.url }}" class="btn btn-primary main-article__readmore">
                                        Read more
                                    </a>
                                </p>
                            </article>

                            {#<div class="news">#}
                            {#<h4 class="title">#}
                            {#<a href="/{{ lang }}/{{ articlenode.url }}">{{ item.title }} <span class="date">{{ item.date | date("d/m/Y") }}</span></a>#}
                            {#</h4>#}
                            {#<p class="summary">#}
                            {#{{ item.summary }}#}
                            {#</p>#}
                            {#</div>#}
                        {% endfor %}
                    {% endif %}
                {% else %}
                    No news
                {% endif %}


            </div>
            <div role="tabpanel" class="tab-pane" id="articles">

                <!-- Articles pane -->
                {% if articles is not null %}
                    {% if articles > 0 %}
                         
                        <div class="articlepage">        
                        {% for item in articles %}
                            {% set articlenode = get_node_translation_for(item) %}
                            {#{{ dump(item) }}#}
							<article class="main-article main-article--summary article__overview--list-item"> 
								<header>
	                               {% if item.places.count > 0 %}
								        <div class="to-places pull-right">
								        <span class="glyphicon glyphicon-map-marker"></span>
								        {% for place in item.places %}
								            <a href="{{ path("_slug", { 'url' : get_node_translation_for(place).fullSlug}) }}">{{ place.title }}</a> {% if loop.last == false %}/{% endif %} 
								        {% endfor %}
								        </div>
								    {% endif %}
		    
		    						<time>{{ item.date | date("F jS H:i")}}</time>
                            	
                                    <h2>
                                        {% if item.priceFrom %}<div class="pull-right"><div class="price-from price-from-img"><div class="price-from-inner pull-right"><span>{{ item.priceFrom }}</span></div></div></div>{% endif %}
                    					<a href="/{{ lang }}/{{ articlenode.url }}">{{ item.title }}</a>
                                    </h2>
                            	</header>
                                {% if item.image %}
		                            {% if item.imgSize == '300l' %}
		               	 				<img src="{{ asset(item.image.url | imagine_filter("300x")) }}" alt="" class="img-responsive pull-left"/>
		                            {% elseif item.imgSize == '300r' %}
		                				<img src="{{ asset(item.image.url | imagine_filter("300x")) }}" alt="" class="img-responsive pull-right"/>
		                            {% endif %}
		                        {% endif %}
                                
                               
                                {% if item.image %}
                                    {% if item.imgSize == '1000' %}
                                        <a href="/{{ lang }}/{{ articlenode.url }}"><img src="{{ asset(item.image.url | imagine_filter("1000x")) }}" alt="" class="img-responsive"/></a>
                                    {% endif %}
                                {% endif %}
                                <p></p>
                                <p>{{ item.summary }}</p>
                                <p>
                                    <a href="/{{ lang }}/{{ articlenode.url }}" class="btn btn-primary main-article__readmore">
                                        Read more
                                    </a>
                                </p>
                                <div class="clear"></div>
                            </article>

                            {#<div class="news">#}
                            {#<h4 class="title">#}
                            {#<a href="/{{ lang }}/{{ articlenode.url }}">{{ item.title }} <span class="date">{{ item.date | date("d/m/Y") }}</span></a>#}
                            {#</h4>#}
                            {#<p class="summary">#}
                            {#{{ item.summary }}#}
                            {#</p>#}
                            {#</div>#}
                        {% endfor %}
                    {% endif %}
                    </div>
                {% else %}
                    No articles
                {% endif %}

            </div>
        </div>

    </div>

{% endblock %}
