{% extends 'SandboxWebsiteBundle:Layout:layout.html.twig' %}

{% block mainBgUrl %}
    {% if page.topImage is not null and page.topImage.picture is not null %}{{ page.topImage.picture.url }}{% else %}
        {{ render(controller('SandboxWebsiteBundle:Travelbase:getRandomImageUrl')) }}{% endif %}
{% endblock %}

{% block topImgTitle %}
    {% if page.topImage is not null and page.topImage.picture is not null %}
        {{ render(controller('SandboxWebsiteBundle:Travelbase:getRandomImageTitle', { 'image': page.topImage})) }}
    {% else %}
        {{ render(controller('SandboxWebsiteBundle:Travelbase:getRandomImageTitle')) }}
    {% endif %}
{% endblock %}

{% block sidebar %}
    <div class="">
        {% if page.title != 'Countries' or page.title != 'Places' %}
        <h2>{{ page.title }}</h2>
        {% endif %}
        {#{#{{ render_pageparts(page, 'main') }}#}
        {#{% set count = 0 %}#}
        {#{# 1 level #}
        {#{% if places > 0 %}#}
            {#<ul class="article__overview--list">#}
                {#{% for article in places %}#}
                    {#{% if host and article.node.refEntityName != "Sandbox\\WebsiteBundle\\Entity\\Pages\\content" %}#}
                        {#{% if host in article.publicNodeVersion.getRef(em).hosts %}#}
                            {#{% if article.node.refEntityName == "Sandbox\\WebsiteBundle\\Entity\\Place\\PlaceOverviewPage" %}#}
                                {#<li class="article__overview--list-item">#}
                                    {#{#{{ dump(article) }}#}
                                    {#{#{{ dump(article.publicNodeVersion.getRef(em)) }}#}
                                    {#{#{% set articlenode = get_node_translation_for(article) %}#}
                                    {#<h4><a href="{{ path('_slug', { 'url': article.url }) }}">{{ article.title }}</a></h4>#}
                                    {#{# 2 level #}
                                    {#{% if article.node.children.count > 0 %}#}
                                        {#<ul class="article__overview--list">#}
                                            {#{% for node in article.node.children if node.refEntityName == "Sandbox\\WebsiteBundle\\Entity\\Place\\PlaceOverviewPage" and node.NodeTranslation(lang) %}#}
                                                {#{% if host in node.NodeTranslation(lang).publicNodeVersion.getRef(em).hosts %}#}
                                                    {#<li class="article__overview--list-item">#}
                                                        {#<h5><a href="{{ node.NodeTranslation(lang).url }}">{{ node.NodeTranslation(lang).title }}</a></h5>#}

                                                        {#{# 3 level #}
                                                        {#{% if node.children.count > 0 %}#}
                                                            {#<ul class="article__overview--list">#}
                                                                {#{% for node2 in node.children if node2.refEntityName == "Sandbox\\WebsiteBundle\\Entity\\Place\\PlaceOverviewPage" %}#}
                                                                    {#{% if host in node2.NodeTranslation(lang).publicNodeVersion.getRef(em).hosts %}#}
                                                                        {#<li class="article__overview--list-item">#}
                                                                            {#<h5><a href="{{ node2.NodeTranslation(lang).url }}">{{ node2.NodeTranslation(lang).title }}</a></h5>#}
                                                                        {#</li>#}
                                                                    {#{% endif %}#}
                                                                {#{% endfor %}#}
                                                            {#</ul>#}
                                                        {#{% endif %}#}
                                                    {#</li>#}
                                                {#{% endif %}#}
                                            {#{% endfor %}#}
                                        {#</ul>#}
                                    {#{% endif %}#}

                                    {#{#{{ article.summary }}#}
                                    {#{#<time>{{ article.date | date("d/m/Y")}}</time>#}
                                {#</li>#}
                            {#{% endif %}#}
                        {#{% endif %}#}
                    {#{% else %}#}
                        {#{% if article.node.refEntityName == "Sandbox\\WebsiteBundle\\Entity\\Place\\PlaceOverviewPage" %}#}
                            {#<li class="article__overview--list-item">#}
                                {#{#{{ dump(article) }}#}
                                {#{#{{ dump(article.publicNodeVersion.getRef(em)) }}#}
                                {#{#{% set articlenode = get_node_translation_for(article) %}#}
                                {#<h4><a href="{{ path('_slug', { 'url': article.url }) }}">{{ article.title }}</a></h4>#}
                                {#{# 2 level #}
                                {#{% if article.node.children.count > 0 %}#}
                                    {#<ul class="article__overview--list">#}
                                        {#{% for node in article.node.children if node.refEntityName == "Sandbox\\WebsiteBundle\\Entity\\Place\\PlaceOverviewPage" %}#}
                                            {#{% if node.NodeTranslation(lang) %}#}
                                                {#<li class="article__overview--list-item">#}
                                                    {#<h5><a href="{{ node.NodeTranslation(lang).url }}">{{ node.NodeTranslation(lang).title }}</a></h5>#}

                                                    {#{# 3 level #}
                                                    {#{% if node.children.count > 0 %}#}
                                                        {#<ul class="article__overview--list">#}
                                                            {#{% for node2 in node.children if node2.refEntityName == "Sandbox\\WebsiteBundle\\Entity\\Place\\PlaceOverviewPage" %}#}
                                                                {#<li class="article__overview--list-item">#}
                                                                    {#<h5><a href="{{ node2.NodeTranslation(lang).url }}">{{ node2.NodeTranslation(lang).title }}</a></h5>#}


                                                                {#</li>#}
                                                            {#{% endfor %}#}
                                                        {#</ul>#}
                                                    {#{% endif %}#}

                                                {#</li>#}
                                            {#{% endif %}#}
                                        {#{% endfor %}#}
                                    {#</ul>#}
                                {#{% endif %}#}

                                {#{#{{ article.summary }}#}
                                {#{#<time>{{ article.date | date("d/m/Y")}}</time>#}
                            {#</li>#}
                        {#{% endif %}#}
                    {#{% endif %}#}


                    {#{% set count = count + 1 %}#}
                {#{% endfor %}#}
            {#</ul>#}
            {#{#{% if pagerfanta.haveToPaginate() %}#}
            {#{#{{ pagerfanta(pagerfanta) }}#}
            {#{#{% endif %}#}
        {#{% endif %}#}






















        {#{{ render_pageparts(page, 'main') }}#}
        {% set count = 0 %}
        {# 1 level #}
        {% if places > 0 %}
                {% for article in places %}
                    {% if host
                    and article.node.refEntityName != "Sandbox\\WebsiteBundle\\Entity\\Pages\\ContentPage"
                    and article.node.refEntityName != "Sandbox\\WebsiteBundle\\Entity\\Pages\\CompanyPlacePage"
                    and article.node.refEntityName != "Sandbox\\WebsiteBundle\\Entity\\Pages\\HotelOverviewPage"

                    %}
                        {% if host in article.publicNodeVersion.getRef(em).hosts %}
                            {% if article.node.refEntityName != "Sandbox\\WebsiteBundle\\Entity\\Place\\PlaceOverviewPage" %}
                                <h2><a href="{{ path('_slug', { 'url': article.url }) }}">{{ article.title }}</a></h2>
                                {#<ul class="company--list">#}
                                {#<li class="article__overview--list-item">#}
                                    {#{{ dump(article) }}#}
                                    {#{{ dump(article.publicNodeVersion.getRef(em)) }}#}
                                    {#{% set articlenode = get_node_translation_for(article) %}#}
                                    {# 2 level #}
                                    {% if article.node.children.count > 0 %}
                                        <ul class="article__overview--list">
                                            {% for node in article.node.children if node.refEntityName != "Sandbox\\WebsiteBundle\\Entity\\Place\\PlaceOverviewPage" %}
                                                {% if host in node.NodeTranslation(lang).publicNodeVersion.getRef(em).hosts %}
                                                    <li class="article__overview--list-item">
                                                        <h5><a href="/{{ node.NodeTranslation(lang).url }}">{{ node.NodeTranslation(lang).title }}</a></h5>

                                                        {#{# 3 level #}#}
                                                        {#{% if node.children.count > 0 %}#}
                                                            {#<ul class="article__overview--list">#}
                                                                {#{% for node2 in node.children if node2.refEntityName != "Sandbox\\WebsiteBundle\\Entity\\Place\\PlaceOverviewPage" %}#}
                                                                    {#{% if host in node2.NodeTranslation(lang).publicNodeVersion.getRef(em).hosts %}#}
                                                                        {#<li class="article__overview--list-item">#}
                                                                            {#<h5><a href="{{ node2.NodeTranslation(lang).url }}">{{ node2.NodeTranslation(lang).title }}</a></h5>#}
                                                                        {#</li>#}
                                                                    {#{% endif %}#}
                                                                {#{% endfor %}#}
                                                            {#</ul>#}
                                                        {#{% endif %}#}
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}

                                    {#{{ article.summary }}#}
                                    {#<time>{{ article.date | date("d/m/Y")}}</time>#}
                                {#</li>#}
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if article.node.refEntityName != "Sandbox\\WebsiteBundle\\Entity\\Place\\PlaceOverviewPage" %}
                                <h2><a href="{{ path('_slug', { 'url': article.url }) }}">{{ article.title }}</a></h2>
                                    {#<ul class="company--list">#}
                            {#<li class="article__overview--list-item">#}
                                {#{{ dump(article) }}#}
                                {#{{ dump(article.publicNodeVersion.getRef(em)) }}#}
                                {#{% set articlenode = get_node_translation_for(article) %}#}
                                {# 2 level #}
                                {% if article.node.children.count > 0 %}
                                    <ul class="article__overview--list">
                                        {% for node in article.node.children if node.refEntityName != "Sandbox\\WebsiteBundle\\Entity\\Place\\PlaceOverviewPage" %}
                                            {% if node.NodeTranslation(lang) %}
                                                <li class="article__overview--list-item">
                                                    <h5><a href="{{ path('_slug', { 'url': node.NodeTranslation(lang).url }) }}">{{ node.NodeTranslation(lang).title }}</a></h5>

                                                    {# 3 level #}
                                                    {#{% if node.children.count > 0 %}#}
                                                        {#<ul class="article__overview--list">#}
                                                            {#{% for node2 in node.children if node2.refEntityName != "Sandbox\\WebsiteBundle\\Entity\\Place\\PlaceOverviewPage" %}#}
                                                                {#<li class="article__overview--list-item">#}
                                                                    {#<h5><a href="{{ node2.NodeTranslation(lang).url }}">{{ node2.NodeTranslation(lang).title }}</a></h5>#}


                                                                {#</li>#}
                                                            {#{% endfor %}#}
                                                        {#</ul>#}
                                                    {#{% endif %}#}

                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                                {#{{ article.summary }}#}
                                {#<time>{{ article.date | date("d/m/Y")}}</time>#}
                            {#</li>#}
                        {% endif %}
                    {% endif %}


                    {% set count = count + 1 %}
                {% endfor %}
            {#</ul>#}
            {#{% if pagerfanta.haveToPaginate() %}#}
            {#{{ pagerfanta(pagerfanta) }}#}
            {#{% endif %}#}
        {% endif %}






















        {{ render(controller('SandboxWebsiteBundle:Subscription:subscribeForm', {'page' : page})) }}

        {% include '@SandboxWebsite/Tag/tagblock.html.twig' %}

    </div>
{% endblock %}

{% block content %}

    {% include '@SandboxWebsite/SeoModule/top.html.twig' %}

    {% include "@SandboxWebsite/Layout/contentoverview.html.twig" %}

    {% include '@SandboxWebsite/SeoModule/bottom.html.twig' %}

{% endblock %}
{% block seoFooter %}
    {% include "@SandboxWebsite/SeoModule/footer.html.twig" %}
{% endblock %}

