{% extends 'SandboxWebsiteBundle:Layout:layout.html.twig' %}

{% block mainBgUrl %}
    {% if page.topImage is not null and page.topImage.picture is not null %}{{ page.topImage.picture.url }}{% else %}
        {{ render(controller('SandboxWebsiteBundle:Travelbase:getRandomImageUrl')) }}{% endif %}
{% endblock %}

{% block topImgTitle %}
    {% if page.topImage is not null and page.topImage.picture is not null %}
        {{ render(controller('SandboxWebsiteBundle:Travelbase:getRandomImageTitle', { 'image': page.topImage})) }}
    {% else %}
        {{ render(controller('SandboxWebsiteBundle:Travelbase:getRandomImageTitle')) }}
    {% endif %}
{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    {% if page.places.count > 0 %}
        <div class="from-places">
            From:
            {% for place in page.places %}
                <a href="{{ path("_slug", { 'url' : get_node_translation_for(place).fullSlug}) }}">{{ place.title }}</a>
            {% endfor %}
        </div>
    {% endif %}
    {% if page.fromPlaces.count > 0 %}
        <div class="to-places">
            To:
            {% for place in page.fromPlaces %}
                <a href="{{ path("_slug", { 'url' : get_node_translation_for(place).fullSlug}) }}">{{ place.title }}</a>
            {% endfor %}
        </div>
    {% endif %}
    {{ render_pageparts(page, 'main') }}
    {#{% include 'KunstmaanArticleBundle:AbstractArticlePage:view.html.twig' %}#}
{% endblock %}
