<div>subscription tree</div>
<div class="subscribe-tree">
    <ul>
        {% for place in places %}
            <li id="node_{{ get_node_for(place['place']).id }}">{{ place['place'].title }}
                {% if place['children']|length > 0 %}
                <ul>
                    {% for child in place['children'] %}
                        <li id="node_{{ get_node_for(child['place']).id }}">{{ child['place'].title }}
                            {% if child['children']|length > 0 %}
                                <ul>
                                    {% for subchild in child['children'] %}
                                        <li id="node_{{ get_node_for(subchild).id }}">{{ subchild.title }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

<div class="subscribe-form">
    <h3>Subscribe</h3>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_errors(form.node) }}
    {{ form_widget(form.node) }}
    <div>
        {#{{ form_label(form.email) }}#}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, {'attr': {'placeholder': 'Email'}}) }}
    </div>

    <div>
        {{ form_widget(form.submit) }}
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>