<div class="tree-wrapper">
    <div class="subscribe-tree">
        <ul>
            <li id="node_0" data-jstree='{"selected":true}'>
                {{ 'all.countries'|trans({}, 'frontend') }}
                <ul>
                    {% for place in places %}
                        <li id="node_{{ place['parent'].id }}">{{ place['parent'].title }}
                            {% if place['children']|length > 0 %}
                                <ul>
                                    {% for child in place['children'] %}
                                        <li id="node_{{ child['parent'].id }}">{{ child['parent'].title }}
                                            {% if child['children']|length > 0 %}
                                                <ul>
                                                    {% for subchild in child['children'] %}
                                                        <li id="node_{{ subchild.parent.id }}">{{ subchild.parent.title }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
    <span class="fa fa-chevron-down tree-toggle"></span>
</div>


<div class="subscribe-form">

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_errors(form.node) }}
    {{ form_widget(form.node) }}
    <div>
        {#{{ form_label(form.email) }}#}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, {'attr': {'placeholder': 'email'|trans({}, 'frontend')}}) }}
    </div>

    <div>
        {{ form_widget(form.submit) }}
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>