<div class="tree-wrapper">
    <div class="subscribe-tree">
        <ul>
            <li id="node_0">
                {{ 'all.countries'|trans({}, 'frontend') }}
                <ul>
                    {% for place in places %}
                        <li id="node_{{ place['parent'].id }}"
                                {% if subscriptions.contains(place['parent'].id) %}
                                    data-jstree='{"selected":true}'
                                {% else %}
                                    data-jstree='{"selected":false}'
                                {% endif %}
                                >{{ place['parent'].title }}
                            {% if place['children']|length > 0 %}
                                <ul>
                                    {% for child in place['children'] %}
                                        <li id="node_{{ child['parent'].id }}"
                                        {% if subscriptions.contains(child['parent'].id) %}
                                    data-jstree='{"selected":true}'
                                {% else %}
                                    data-jstree='{"selected":false}'
                                {% endif %}
                                        >{{ child['parent'].title }}
                                            {% if child['children']|length > 0 %}
                                                <ul>
                                                    {% for subchild in child['children'] %}
                                                        <li id="node_{{ subchild.parent.id }}"
                                                                {% if subscriptions.contains(subchild.parent.id) %}
                                                                    data-jstree='{"selected":true}'
                                                                {% else %}
                                                                    data-jstree='{"selected":false}'
                                                                {% endif %}
                                                                >{{ subchild.parent.title }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
    <span class="fa fa-chevron-down tree-toggle"></span>
</div>


<div class="subscribe-form">

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_errors(form.node) }}
    {{ form_widget(form.node) }}
    <div>
        {#{{ form_label(form.email) }}#}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, {'attr': {'placeholder': 'email'|trans({}, 'frontend')}}) }}
    </div>
    <div>
        {#{{ form_label(form.email) }}#}
        {{ form_errors(form.subscribe) }}
        {{ form_widget(form.subscribe) }}
        <label for="form_subscribe">{{ 'subscribe.label'|trans({}, 'frontend') }}</label>
    </div>

    <div>
        {{ form_widget(form.submit) }}
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>