<div class="trip row nomargin {{ class }}" data-type="{{ itemType }}" data-itemid="{{ item.id }}" data-from="{{ item.departure.airportCode }}" data-to="{{ item.destination.airportCode }}">
{{ html |raw }}
</div>