<div class="col-xs-12">
    <div class="row">
        <div class="no-padding mobile-date-div col-xs-1 col-sm-1">
            {#date#}
            <strong class="hidden-xs date-field"><span class="text-muted">{{ date }}</span></strong>
            <strong class="visible-xs mobile-date">
                <span class="text-muted">
                    <span class="mobile-day">
                        {{ day }}
                    </span>
                    <span class="mobile-month">
                        {{ month }}
                    </span>
                </span>
            </strong>
        </div>
        <div class="nopadding-right col-xs-10 col-sm-11">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    {#trip#}
                    <table class="table-field">
                        <tr>
                            <td width="1%">
                                <strong>{{ departure|raw }}</strong>
                            </td>
                            <td style="">
                                <div class="trip-path-spacer-arrow-wrapper trip-path-spacer-arrow-wrapper-init" style="width: 100%;">
                        <span class="trip-path-spacer-line">
                            <div></div>
                        </span>
                                    <span class="trip-path-spacer-arrow"></span>
                                </div>
                            </td>
                            <td width="2%" class="nowrap">
                                <strong>{{ destination|raw }}</strong>
                            </td>
                            <td style="">
                                <div class="trip-path-spacer-arrow-wrapper trip-path-spacer-arrow-wrapper-init" style="width: 100%;">
                        <span class="trip-path-spacer-line">
                            <div></div>
                        </span>
                                    <span class="trip-path-spacer-arrow"></span>
                                </div>
                            </td>
                            <td width="1%">
                                <strong>{{ departure|raw }}</strong>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-12 col-sm-6">
                    {#info#}
                    <div class="row">
                        {#hotel#}
                        <div class="col-xs-4 text-center mobile-hotel">
                            {{ hotelcol|raw }}
                        </div> 
                        {#dayes#}
                        <div class="trip-field col-xs-3 col-sm-2 mobile-days">
                            {{ item.duration }} {{ days_short }}
                        </div>
                        {#price#}
                        <div class="hidden-xs col-xs-4 col-sm-3 trip-field mobile-price">
                            {{ lastCol|raw }}
                        </div>
                        <div class="col-xs-5 col-sm-3">
                            <div class="price text-right trip-cost"><p>{{ item.price|round }}€</p> <a target="_blank" href="{{ item.link }}?partner={{ app.request.host }}{% if app.user %}&user={{ app.user.id }}{% endif %}" class="btn btn-info trip-btn-cost">{{ item.price|round }}€</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>