<h5 class="doormat__title"><a href="{{ path('_slug', { 'url': node.slug }) }}">{{ node.title }}</a></h5>
<div class="row">

    {% set braker = places|length / 4 %}
    {% set counter = 0 %}
    {% for place in places %}
        {% if counter == 0 or loop.index == 0 %}
            <ul class="list-reset doormat__link-list col-xs-6 col-sm-3 col-md-3">
        {% endif %}

        <li class="doormat__list-item">
            <a href="{{ path('_slug', { 'url': get_node_translation_for(place).fullSlug }) }}" class="link--gray doormat__link">{{ place.title }}</a>
        </li>

        {% set counter = counter + 1 %}

        {% if counter >= braker %}
            </ul>
            {% set counter = 0 %}
        {% else %}

        {% endif %}

    {% endfor %}




    {#{% set total = 0 %}#}

    {#{% if node.children|length>0 %}#}
        {#{% for node2 in node.children %}#}
            {#{% if not node.node.isHiddenFromNav() %}#}
                {#&#123;&#35; check if host exists&#35;&#125;#}
                {#{% if host %}#}
                    {#{% if(node2.page.hosts) is defined %}#}
                        {#&#123;&#35; output only host based content &#35;&#125;#}
                        {#{% if host in node2.page.hosts %}#}
                            {#{% set total = total + 1 %}#}
                        {#{% else %}#}
                            {#&#123;&#35;{% set total = total - 1 %}&#35;&#125;#}
                        {#{% endif %}#}
                    {#{% else %}#}
                        {#&#123;&#35; object without hosts. print as normal&#35;&#125;#}
                        {#{% set total = total + 1 %}#}
                    {#{% endif %}#}
                {#{% else %}#}
                    {#{% set total = total + 1 %}#}
                {#{% endif %}#}
            {#{% else %}#}
                {#&#123;&#35;{% set total = total - 1 %}&#35;&#125;#}
            {#{% endif %}#}
        {#{% endfor %}#}
    {#{% endif %}#}





    {#{% set braker = total / 4 %}#}
    {#{% set counter = 0 %}#}
    {#{% if node.children|length>0 %}#}
        {#{% for node2 in node.children %}#}
            {#{% if counter == 0 or loop.index == 0 %}#}
                {#<ul class="list-reset doormat__link-list col-xs-6 col-sm-3 col-md-3">#}
            {#{% endif %}#}

            {#{% if not node.node.isHiddenFromNav() %}#}
                {#&#123;&#35; check if host exists&#35;&#125;#}
                {#{% if host %}#}
                    {#{% if(node2.page.hosts) is defined %}#}
                        {#&#123;&#35; output only host based content &#35;&#125;#}
                        {#{% if host in node2.page.hosts %}#}
                            {#<li class="doormat__list-item {% if(node2.active) %}active{% endif %}">#}
                                {#<a href="{{ path('_slug', { 'url': node2.slug }) }}" class="link--gray doormat__link">{{ node2.title }}</a>#}
                            {#</li>#}
                            {#{% set counter = counter + 1 %}#}
                        {#{% else %}#}
                            {#&#123;&#35;{% set counter = counter - 1 %}&#35;&#125;#}
                        {#{% endif %}#}
                    {#{% else %}#}
                        {#&#123;&#35; object without hosts. print as normal&#35;&#125;#}
                        {#<li class="doormat__list-item {% if(node2.active) %}active{% endif %}">#}
                            {#<a href="{{ path('_slug', { 'url': node2.slug }) }}" class="link--gray doormat__link">{{ node2.title }}</a>#}
                        {#</li>#}
                        {#{% set counter = counter + 1 %}#}
                    {#{% endif %}#}
                {#{% else %}#}
                    {#<li class="doormat__list-item {% if(node2.active) %}active{% endif %}">#}
                        {#<a href="{{ path('_slug', { 'url': node2.slug }) }}" class="link--gray doormat__link">{{ node2.title }}</a>#}
                    {#</li>#}
                    {#{% set counter = counter + 1 %}#}
                {#{% endif %}#}
            {#{% else %}#}
                {#&#123;&#35;{% set counter = counter - 1 %}&#35;&#125;#}
            {#{% endif %}#}


            {#{% if counter == 0 %}#}
                {#{% set counter = counter + 1 %}#}
            {#{% endif %}#}
            {#&#123;&#35;{% set counter = counter + 1 %}&#35;&#125;#}
            {#{% if counter >= braker %}#}
                {#</ul>#}
                {#{% set counter = 0 %}#}
            {#{% else %}#}

            {#{% endif %}#}

        {#{% endfor %}#}
    {#{% endif %}#}
</div>