{% if fullNodes is defined and fullNodes is not null%}
{#<h3>Top 10</h3>#}
<div role="tabpanel" class="top-ten">

    <!-- Nav tabs -->
    {#<ul class="nav nav-tabs" role="tablist">#}
        {#<li role="presentation" class="active"><a href="#top-ten-all" aria-controls="home" role="tab" data-toggle="tab">All</a></li>#}
        {#<li role="presentation"><a href="#top-ten-ski" aria-controls="profile" role="tab" data-toggle="tab">Ski</a></li>#}
        {#<li role="presentation"><a href="#top-ten-spa" aria-controls="messages" role="tab" data-toggle="tab">Spa</a></li>#}
        {#<li role="presentation"><a href="#top-ten-sun" aria-controls="settings" role="tab" data-toggle="tab">Sun</a></li>#}
    {#</ul>#}

    <!-- Tab panes -->
        <div class="tab-pane active" id="">
            <h1>Top 10</h1>
            {% for p in fullNodes %}
                <div class="row margin-bottom-20">
                    {% if p.page.image %}
                        <div class="col-md-3 nopadding col-md-offset-1">
                            <a href="{{ path( '_slug', {'url' : p.translation.fullSlug }) }}"><img class="img-responsive" src="{{ asset(p.page.image.url | imagine_filter("150x")) }}" alt=""/></a>
                        </div>
                        <div class="col-md-8">
                            <a href="{{ path( '_slug', {'url' : p.translation.fullSlug }) }}">{{ p.page.title }}</a>
                        </div>
 
                    {% else %}
                        <div class="col-md-11 col-md-offset-1">
                            <a href="{{ path( '_slug', {'url' : p.translation.fullSlug }) }}">{{ p.page.title }}</a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div role="tabpanel" class="tab-pane no" id="top-ten-ski">ski</div>
        <div role="tabpanel" class="tab-pane no" id="top-ten-spa">spa</div>
        <div role="tabpanel" class="tab-pane no" id="top-ten-sun">sun</div>

</div>
{% endif %} 
