{% extends 'SandboxWebsiteBundle:Layout:layout.html.twig' %}
{% block content %}

    <h2>{{ page.title }}</h2>

    {% include '@SandboxWebsite/SeoModule/top.html.twig' %}

    {{ render_pageparts(page, 'main') }}

    {% set count = 0 %}
    {% if pagerfanta.nbResults > 0 %}
        <div class="content">
            {% for article in pagerfanta.currentPageResults %}
                <article class="main-article main-article--summary article__overview--list-item"> 
                    {% set articlenode = get_node_translation_for(article) %}
                    <header>

                        {% include '@SandboxWebsite/Layout/toplaces.html.twig' with {'item' : article, 'ignore': 1} %}

					    <time>{{ article.date | datelocale}}</time>
                    	<h2>
                    		{% if article.priceFrom %}<div class="pull-right"><div class="price-from price-from-img"><div class="price-from-inner pull-right"><span>{{ article.priceFrom }} {% if article.priceFromLabel %}/ {{ article.priceFromLabel|trans({}, 'frontend', app.request.locale) }}{% endif %}</span></div></div></div>{% endif %}
                    		<a href="{{ articlenode.url }}">{{ article.title }}</a>
                    	</h2>
                    <div class="clear"></div>
                    
                    </header>  
                    
                    {% if article.image %} 
                    	{% if article.imgSize == '300l' %}
                       	 	<a href="{{ articlenode.url }}"><img src="{{ asset(article.image.url | imagine_filter("300x")) }}" alt="" class="img-responsive img-left pull-left"/></a>
                        {% elseif article.imgSize == '300r' %}
                        	<a href="{{ articlenode.url }}"><img src="{{ asset(article.image.url | imagine_filter("300x")) }}" alt="" class="img-responsive pull-right"/></a>
                        {% endif %}
                    {% endif %}
                    
                    
                    
                    {% if article.image %}
                        {% if article.imgSize == '1000' %}
                            <a href="{{ articlenode.url }}"><img src="{{ asset(article.image.url | imagine_filter("1000x")) }}" alt="" class="img-responsive"/></a>
                        {% endif %}
                    {% endif %}
                    <p></p>
                    <p>{{ article.summary }}</p>
                    <div class="clear"></div> 
                </article>
                {% set count = count + 1 %}
            {% endfor %}
        </div>
        {% if pagerfanta.haveToPaginate() %}
            {{ pagerfanta(pagerfanta, 'twitter_bootstrap3') }}
        {% endif %}
    {% endif %}

    {% include '@SandboxWebsite/SeoModule/bottom.html.twig' %}
    {#{% include 'KunstmaanArticleBundle:AbstractArticleOverviewPage:view.html.twig' %}#}
{% endblock %}

{% block sidebar %}
    {% include '@SandboxWebsite/Tag/tagblock.html.twig' %}
{% endblock %}
{% block seoFooter %}
    {% include '@SandboxWebsite/SeoModule/footer.html.twig' %}
{% endblock %}