{% if app.user %}
    <div class="user-password-form">
        <h3>{{ 'edit.user.password.title' }}</h3>
        <form action="#">
            <div class="form-group">
                <input class="form-control" id="edit-password" type="text" name="oldpassword" placeholder="{{ 'current.password'|trans({}, 'frontend') }}"/>
            </div>
            <div class="form-group">
                <input class="form-control" id="edit-new-password" type="text" name="newpassword" placeholder="{{ 'new.password'|trans({}, 'frontend') }}"/>
            </div>
            <div class="form-group">
                <input class="form-control" id="edit-re-new-password" type="text" name="renewpassword" placeholder="{{ 're.new.password'|trans({}, 'frontend') }}"/>
            </div>

            <a id="save-user-password" class="btn btn-primary" href="#">{{ 'save'|trans({}, 'frontend') }}</a>
            <a id="reset-user-password" class="btn btn-primary" href="#">{{ 'reset.password'|trans({}, 'frontend') }}</a>
        </form>
    </div>
{% endif %}