{% if app.user %}
    <div class="row">
        <div class="col-md-4">
            <!-- Nav tabs -->
            <ul class="nav nav-pills nav-stacked" role="tablist">
                <li role="presentation" class="active"><a href="#user-detail-edit" aria-controls="home" role="tab" data-toggle="tab">{{ 'user.edit.details'|trans({}, 'frontend') }}</a></li>
                <li role="presentation"><a href="#user-password-edit" aria-controls="profile" role="tab" data-toggle="tab">{{ 'change.password'|trans({}, 'frontend') }}</a></li>
                <li role="presentation"><a href="#subscriptions" aria-controls="messages" role="tab" data-toggle="tab">{{ 'edit.subscriptions'|trans({}, 'frontend') }}</a></li>
                {#<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>#}
            </ul>
        </div>
        <div class="col-md-8">

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="user-detail-edit">
                    {% include '@SandboxWebsite/User/edit.html.twig' %}
                </div>
                <div role="tabpanel" class="tab-pane" id="user-password-edit">
                    {% include '@SandboxWebsite/User/changePassword.html.twig' %}
                </div>
                <div role="tabpanel" class="tab-pane" id="subscriptions">

                    <form id="user-subscriptions" action="#">
                        <div>
                            <label>
                                <input class="checkbox" type="checkbox" name="flightOffers" {% if app.user.flightOffers %}checked="checked"{% endif %}/>
                                {{ 'flight.offers'|trans({}, 'frontend') }}
                            </label>
                        </div>
                        <div>
                            <label>
                                <input class="checkbox" type="checkbox" name="localOffers" {% if app.user.localOffers %}checked="checked"{% endif %}/>
                                {{ 'local.offers'|trans({}, 'frontend') }}
                            </label>
                        </div>
                        <div>
                            <label>
                                <input class="checkbox" type="checkbox" name="internationalOffers" {% if app.user.internationalOffers %}checked="checked"{% endif %}/>
                                {{ 'international.offers'|trans({}, 'frontend') }}
                            </label>
                        </div>
                    </form>
                    
                    {{ render(controller('SandboxWebsiteBundle:Subscription:subscribeTree')) }}
                </div>
                {#<div role="tabpanel" class="tab-pane" id="settings">...</div>#}
            </div>
        </div>
    </div>
{% endif %}