<!-- Modal -->
<div class="modal fade" id="modal-registration" tabindex="-1" role="dialog" aria-labelledby="modal-registration" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    {{ 'welcome.to.the.club'|trans({}, 'frontend') }}
                </h4>
            </div>
            <div class="modal-body">


                <a id="fb-login-btn" class="btn btn-primary" href="#"><span class="fa fa-facebook"></span> | {{ 'FB.login'|trans({}, 'frontend') }}</a>

                {% if host and host.vkAppId and host.vkAppSecret %}
                    <a href="#" id="vk-login-btn" class="btn btn-primary"><span class="fa fa-vk"></span> | login</a>
                    <script>
                        $("#vk-login-btn").click(function () {
                            window.open('https://oauth.vk.com/authorize?client_id={{ host.vkAppId }}&scope=email&redirect_uri={{ app.request.schemeAndHttpHost }}/vk-login&response_type=code&v=5.29&state=');
                        });
                    </script>
                {% endif %}

                <div class="overlay__divider or">
                    <span>{{ 'or'|trans({}, 'frontend') }}</span>
                    <hr>
                </div>

                <form action="{{ path('register_action') }}" method="post">

                    <div class="form-group">
                        <label class="sr-only" for="name">{{ 'my.name.is'|trans({}, 'frontend') }}:</label>
                        <input id="name" type="text" name="name" class="form-control"
                               placeholder="{{ 'my.name.is'|trans({}, 'frontend') }}"/>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="email">{{ 'my.email.is'|trans({}, 'frontend') }}:</label>
                        <input id="email" type="text" name="email" class="form-control"
                               placeholder="{{ 'my.email.is'|trans({}, 'frontend') }}"/>
                    </div>

                    <div class="clear"></div>
                    <p class="join-count">
                        {{ 'i.want.to.join'|trans({}, 'frontend') }} 10453 {{ 'joined.travellers'|trans({}, 'frontend') }}!
                    </p>
                    <p>
                        <input id="register-submit" type="submit" class="btn btn-primary" value="{{ 'sign.up'|trans({}, 'frontend') }}"/>
                    </p>
                </form>



                <form action="{{ path('login_action') }}" method="post">
                    <div class="row">
                        <div class="col-md-8 col-xs-8">
                            <div class="form-group">
                                <label for="email">{{ 'Email'|trans({}, 'frontend') }}:</label>
                                <input id="email" type="text" name="email" class="form-control"/>
                            </div>

                            <div class="form-group">
                                <label for="password">{{ 'Password'|trans({}, 'frontend') }}:</label>
                                <input id="password" type="password" name="password" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <p>
                                <input type="submit" class="btn btn-primary" value="{{ 'Login'|trans({}, 'frontend') }}"/>
                                <a id="fb-login-btn" class="btn btn-primary" href="#"><span class="fa fa-facebook"></span> | {{ 'FB.login'|trans({}, 'frontend') }}</a>

                                {% if host and host.vkAppId and host.vkAppSecret %}
                                    <a href="#" id="vk-login-btn" class="btn btn-primary"><span class="fa fa-vk"></span> | login</a>
                                    <script>
                                        $("#vk-login-btn").click(function () {
                                            window.open('https://oauth.vk.com/authorize?client_id={{ host.vkAppId }}&scope=email&redirect_uri={{ app.request.schemeAndHttpHost }}/vk-login&response_type=code&v=5.29&state=');
                                        });
                                    </script>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>