<div style="position: relative">
    {#{{ render(controller('SandboxWebsiteBundle:Offer:index')) }}#}
    <div class="row nomargin" id="offer-holder">
        {{ render(controller('SandboxWebsiteBundle:Offer:getOfferPages')) }}
    </div>
    <div id="offer-pager" class="loadDiv">
    	<div class="loadDiv-line"></div>
        <a href="#" ><span class="fa fa-angle-double-down"></span></a>
    </div>

    {% if app.request.query.has('email') %}
        <div class="register-form">
            <form action="#">
            <h2>{{ 'welcome.to.the.club'|trans({}, 'frontend') }}</h2>
            <span class="pull-left">{{ 'confirm.your.email'|trans({}, 'frontend') }}</span>
                <div  class="form-group pull-left">
            <input class="form-control" value="{{ app.request.query.get('email') }}" type="email" name="email" id="reset-email" placeholder="{{ 'Email'|trans({}, 'frontend') }}"/>
                </div>
            <span class="pull-left">{{ 'recieve.your.new.acc.password'|trans({}, 'frontend') }}.</span>
            <p class="clear">
                <a class="btn btn-primary" id="reset-password" href="#">{{ 'confirm'|trans({}, 'frontend') }}</a>
            </p>
            </form>
        </div>
    {% else %}
        {% include '@SandboxWebsite/Travelbase/tabBody/registerOverlay.html.twig' %}
    {% endif %}
</div>