<div style="position: relative">
    <h2>{{ 'club.header'|trans({}, 'frontend') }}</h2>
    {{ render(controller('SandboxWebsiteBundle:Offer:index')) }}

    {% if app.request.query.has('email') %}
        <div class="register-form">
            <div>{{ 'welcom.to.the.club'|trans({}, 'frontend') }},</div>
            <span class="pull-left">{{ 'confirm.your.email'|trans({}, 'frontend') }}</span>
                <div  class="form-group pull-left">
            <input class="form-control" value="{{ app.request.query.get('email') }}" type="email" name="email" id="reset-email" placeholder="{{ 'email'|trans({}, 'frontend') }}"/>
                </div>
            <span class="pull-left">{{ 'recieve.your.new.acc.password'|trans({}, 'frontend') }}.</span>
            <p class="clear">
                <a class="btn btn-primary" id="reset-password" href="#">{{ 'confirm'|trans({}, 'frontend') }}</a>
            </p>
        </div>
    {% else %}

        {% if not app.user %}
            <div class="register-form">
                <form action="{{ path('register_action') }}" method="post">
                    <div>{{ 'welcom.to.the.club'|trans({}, 'frontend') }},</div>
                    <span class="pull-left">{{ 'i.am'|trans({}, 'frontend') }}</span>
                    <div  class="form-group pull-left">
                        <label class="sr-only" for="name">{{ 'name'|trans({}, 'frontend') }}:</label>
                        <input id="name" type="text" name="name" class="form-control"
                               placeholder="{{ 'name'|trans({}, 'frontend') }}"/>
                    </div>
                    <span class="pull-left">{{ 'and.my.email.is'|trans({}, 'frontend') }}</span>
                    <div class="form-group pull-left">
                        <label class="sr-only" for="email">{{ 'email'|trans({}, 'frontend') }}:</label>
                        <input id="email" type="text" name="email" class="form-control"
                               placeholder="{{ 'email'|trans({}, 'frontend') }}"/>
                    </div>
                    <span class="pull-left">.</span>
                    <div class="clear">{{ 'i.want.to.join.others'|trans({}, 'frontend') }}.</div>
                    <p>
                        <input id="register-submit" type="submit" class="btn btn-primary" value="{{ 'sign.up'|trans({}, 'frontend') }}"/>
                    </p>
                </form>
            </div>
        {% endif %}

    {% endif %}
</div>