<div id="form-baltica" class="form-header hide">
    <h1>{{ 'last.minute.hotelliveeb.form.header' | trans({}, 'frontend') }}</h1>

    <div class="row nomargin travelbase-input-rel">
        <div class="col-md-2 nopadding form-col select-style">
            <label for="baltica-country">
                <span class="glyphicon travelbase-icon travelbase-icon-other travelbase-icon-dest"></span>
                <select class="form-control placeholder" name="baltica-country" id="baltica-country">
                    <option value="-1" selected="selected">{{ 'baltica.country'|trans({}, 'frontend') }}</option>
                    {% for key,place in countries %}
                        <option value="{{ key }}">{{ place.title }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>

        <div class="col-md-2 nopadding form-col select-style">
            <label for="baltica-place">
                <span class="glyphicon travelbase-icon travelbase-icon-other travelbase-icon-city"></span>
                <select name="baltica-place" id="baltica-place" class="form-control placeholder" disabled>
                    <option value="-1" selected="selected">{{ 'baltica.city'|trans({}, 'frontend') }}</option>
                </select>
            </label>
        </div>

        <div class="col-md-2 col-xs-6 nopadding form-col select-style">
            <label for="baltica-hotel">
                <span class="glyphicon travelbase-icon travelbase-icon-other travelbase-icon-hotel"></span>
                <select name="baltica-hotel" id="baltica-hotel" class="form-control placeholder" disabled>
                    <option value="-1" selected="selected">{{ 'baltica.hotel'|trans({}, 'frontend') }}</option>
                </select>
            </label>
        </div>

        <div class="col-md-2 col-xs-6 nopadding form-col">
            <div class="input-group-addon travelbase-input-addon">
                <span class="glyphicon travelbase-icon travelbase-icon-date-from"></span>
            </div>
            <input required="" class="datepick form-control placeholder" type="text" id="baltica-date-from" name="baltica-date-from" placeholder="{{ 'date.from'|trans({}, 'frontend') }}"/>
        </div>

        <div class="col-md-2 col-xs-12">
            <div class="form-col text-center-mobile">
                <a href="#" id="baltica-filter" type="button" class="btn btn-lg btn-primary form-submit"><span class="glyphicon glyphicon-search"></span></a>
            </div>
        </div>
    </div>
</div>