<div id="form-club" class="form-header hide">
    <h1>{{ 'last.minute.club.deals' | trans({}, 'frontend') }}</h1>

    <div class="row nomargin travelbase-input-rel">
        <div class="col-md-2 form-col nopadding-left">
            
            <div class="select-style">
            	<label for="offer-country">
            	<span class="glyphicon travelbase-icon travelbase-icon-other travelbase-icon-dest"></span>
	            <select class="form-control placeholder" name="offer-country" id="offer-country">
	                <option value="-1" selected="selected">{{ 'package.country'|trans({}, 'frontend') }}</option>
	                {% for place in countries %}
	                    <option value="{{ place.cityid }}">{{ place.title }}</option>
	                {% endfor %}
	            </select>
	            </label>
            </div>
        </div>
 
        <div class="col-md-2 form-col nopadding-left">
            <div class="select-style">
            	<label for="offer-place">
            	<span class="glyphicon travelbase-icon travelbase-icon-other travelbase-icon-city"></span>
	            <select name="offer-place" id="offer-place" class="form-control placeholder" disabled>
	                <option value="-1" selected="selected">{{ 'package.city'|trans({}, 'frontend') }}</option>
	            </select>
	            </label>
            </div>
        </div>

        <div class="col-md-2 nopadding">
            <div class="form-col text-center-mobile">
            	<a href="#" id="offer-filter" type="button" class="btn btn-lg btn-primary form-submit"><span class="glyphicon glyphicon-search"></span></a>
        	</div>
        </div>
    </div>
</div> 

 