<div id="form-hotel" class="form-header hide">
    {#<iframe src="https://www.booking.com/general.html?aid=810437&tmpl=searchbox&label=example" height="310" width="100%" frameborder="0" scrolling="no" name="sbox_iframe" style="border-bottom: 3px double; padding-bottom: 10px;"></iframe>#}
    <div id="searchboxHolder">
    <!-- start copy sourcecode from here -->
    <div id="searchboxInc">
        <form autocomplete="off" target="booking" method="get" action="http://www.booking.com/searchresults.html" name="frm" id="booking-form">
            <fieldset>
                <div id="destinationSearch">
                    <h1>{{ 'last.minute.hotel.deals' | trans({}, 'frontend') }}</h1>

                    {% set lang = app.request.locale %}
                    {% if lang == 'ee' %}
                        {% set lang = 'et' %}
                    {% endif %}

                    <input type="hidden" value="810437" name="aid">
                    <input type="hidden" value="http://www.booking.com/?aid=810437;" name="error_url">
                    <input type="hidden" value="ai,co,ci,re,di" name="si">
                    <input type="hidden" value="" name="label">
                    <input type="hidden" value="{{ lang }}" name="lang">
                    <input type="hidden" value="" name="nflt">
                    <input type="hidden" value="" name="ifl">
                    
                    <div class="col-md-12">
		                <div class="row travelbase-input-rel ">
			                
			                {#COL 1#}
		                    <div class="col-xs-12 col-md-3 form-col">
		                        <div>
		                             <span class="glyphicon travelbase-icon travelbase-icon-other travelbase-icon-dest"></span>
		               			 	 <input placeholder="{{ 'hotelsearch.destination'|trans({}, 'frontend') }}" type="text" autocomplete="off" title="{{ 'bookingcom.placeholder' }}" value="" name="ss" id="destination" class="form-control text blur placeholder">
		                        </div>
		                    </div>
		                    
			                {#COL 2#}
		                    <div class="col-xs-6 col-md-2 form-col">
		                        <div>
		                            <div class="input-group-addon travelbase-input-addon"><span id="datepick-trigger-from" class="glyphicon travelbase-icon travelbase-icon-date-from"></span></div>
		                            <input placeholder="{{ 'date.from'|trans({}, 'frontend') }}" id="datepick-ckeckin" type="text" class="datepick-input-holder form-control travelbase-input"/>
		                        </div>
		                    </div>
		                    
		                    {#COL 3#}
		                    <div class="col-xs-6 col-md-2 form-col">
		                        <div>
		                            <span class="fa fa-times-circle datepicker-clear-icon hide"></span>
		                            <div class="input-group-addon travelbase-input-addon"><span id="datepick-trigger-to" class="glyphicon travelbase-icon travelbase-icon-date-to"></span></div>
		                            <input placeholder="{{ 'date.to'|trans({}, 'frontend') }}" id="datepick-ckeckout" type="text" class="datepick-input-holder form-control travelbase-input"/>
		                        </div>
		                    </div>
		                    
		                    <div class="col-md-2 nopadding">
				                {#submit#}
				                <div class="form-col text-center-mobile">
				                    <button id="form-submit" type="submit" class="btn btn-lg btn-primary form-submit "><span class="glyphicon glyphicon-search"></span></button>
				                </div>
				            </div>
		                </div>
		                
                	</div>
                	
                </div>
                
                

                <div id="inout" class="no">
                    <select name="checkin_monthday" id="b_checkin_day">
                        <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option>
                    </select>
                    <select name="checkin_year_month" id="b_checkin_month">
                        {% for key, date in dates %}
                            <option value="{{ key }}">{{ date }}</option>
                        {% endfor %}
                    </select>
                    <select name="checkout_monthday" id="b_checkout_day">
                        <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option>
                    </select>
                    <select name="checkout_year_month" id="b_checkout_month">
                        {% for key, date in dates %}
                            <option value="{{ key }}">{{ date }}</option>
                        {% endfor %}
                    </select>

                    <div class="avail no">
                        <input type="checkbox" value="on" name="idf" id="availcheck">
                        <label for="availcheck" id="labfor">
                        </label>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    {#<div id="calendar"></div>#}
    </div>
</div>
<script>
    $(document).ready(function () {
        var $lang = $("body").data('lang');

        var $dp = $('#datepick-ckeckin, #datepick-ckeckout');
        $dp.datepick($.extend({
                    dateFormat: 'dd.mm.yyyy',
                    //rangeSelect: true,
                    //monthsToShow: 2,
                    minDate: '+0d',
                    maxDate: '+1y',
                    defaultDate: '+0d',
                    changeMonth: false,
                    onSelect: function () {
                        $(this).datepick('hide');
                    },
                    //selectDefaultDate: true,
                    renderer: $.extend({}, $.datepick.defaultRenderer,
                            {picker: $.datepick.defaultRenderer.picker.
                                    replace(/\{link:buttons\}/, '')
                                    .replace(/\{link:clear\}/, '')
                            })
                },
                $.datepick.regionalOptions[$lang]));


        //noinspection JSUnresolvedFunction,JSUnresolvedVariable
        $dp.datepick('option', 'renderer', $.extend({}, $.datepick.defaultRenderer,
                {picker: $.datepick.defaultRenderer.picker.
                        replace(/\{link:buttons}/, '')
                        .replace(/\{link:clear\}/, '')
                }));

        $('#booking-form').submit(function () {

            if($('#booking-frame').length == 0){
                $(this).attr('action', '{{ formUrl }}');
                $(this).attr('target', '_self');
            }

            var $checkin = $('#datepick-ckeckin').datepick('getDate')[0];
            var $checkout = $('#datepick-ckeckout').datepick('getDate')[0];

            if(!$checkin) $checkin = new Date();
            if(!$checkout) $checkout = new Date();

            $("#b_checkin_day").val($checkin.getDate());
            $("#b_checkin_month").val($checkin.getFullYear() + "-" + ($checkin.getMonth()+1) );
            $("#b_checkout_day").val($checkout.getDate());
            $("#b_checkout_month").val($checkout.getFullYear() + "-" + ($checkout.getMonth()+1));


            var $destination = $("#destination");
            var data = $destination.val();

            if(!data) return true;

            $destination.val(data.countryName);

            return true;
        });


        var cache = {};
        $( "#destination" ).autocomplete({
            minLength: 3,
            source: function( request, response ) {
                var term = request.term;
                if ( term in cache ) {
                    response( cache[ term ] );
                    return;
                }

                $.getJSON( "http://api.travelwebpartner.com/api/city.findByText/?q=" + term, request, function( data, status, xhr ) {
                    cache[ term ] = data;

                    //parse data
                    console.log('parse data');

                    response( data );
                });
            },
            select: function( event, ui ) {

                var $destination = $("#destination");
                if(ui.item.id.toString().indexOf("_") != -1){
                    //country
                    $destination.val(ui.item['countryName_' + $lang]);
                }else{
                    //city
                    $destination.val(ui.item['cityName_' + $lang]);
                }

                return false;
            }
        }).autocomplete( "instance" )._renderItem = function( ul, item ) {

            var name = item['cityName_' + $lang];
            if(item.id.toString().indexOf("_") != -1){
                name = item['countryName_' + $lang];

                return $( "<li>" )
                        .append( "<a><strong>" + name + "</strong></a>" )
                        .appendTo( ul );
            }else{
                return $( "<li>" )
                        .append( "<a>&nbsp;&nbsp;&nbsp;   " + name + "</a>" )
                        .appendTo( ul );
            }

        };

        $( "#destination" ).autocomplete( "instance")._renderMenu = function (ul, items) {
            var data = $.map(items, function(el) {
                        //el.id = Object.keys(el)[0];
                        return el;
                    }
            );

            //loop countries
            for(var i=0; i<data.length; i++){
                var $cityArr = data[i];


                var cities = [];

                //loop cities
                for(var j=0; j<Object.keys($cityArr).length; j++){
                    if(j == 0){
                        //add county
                        var $country = $cityArr[Object.keys($cityArr)[j]];
                        $country = JSON.parse(JSON.stringify($country));
                        $country.id = $country.id + "_";

                        this._renderItemData( ul, $country );
                    }
                    //add city
                    var $city = $cityArr[Object.keys($cityArr)[j]];
                    $city = JSON.parse(JSON.stringify($city));

                    if(cities.indexOf($city.cityName_en) == -1){
                        cities.push($city.cityName_en);
                        this._renderItemData( ul, $city );
                    }

                }
            }
        };

    });
</script>