<div class="{{ resource.wrapperClass }} row">


    <h2>{{ resource.title }}</h2>
    {{ resource.description|raw }}

    <div class="row">
        {% for item in resource.images %}
            <div class="image-wrapper {% if item.wrapperClass %}{{ item.wrapperClass }}{% endif %} ">
                <div class="image-img {% if item.class %}{{ item.class }}{% endif %}">
                    {% if item.picture is not empty %}
                        <a href="{{ item.picture.url }}">
                            <img class='img-responsive' src="{{ asset(item.picture.url | imagine_filter(item.size)) }}" {% if item.title is not empty %}alt="{{ item.title }}"{% endif %} />
                        </a>
                    {% endif %}
                    {#{{ resource.linkText }}#}
                </div>
                {% if item.title  %}<h2>{{ item.title }}</h2>{% endif %}
                {% if item.copyright  %}<small class="image-copy">{{ item.copyright | raw }}</small>{% endif %}
            </div>
        {% endfor %}
    </div>
</div>