


    <div role="tabpanel">
        <div class="newspage col-md-7">
            <!-- News pane -->
            {% if news is not null %}
                {% if news > 0 %}

                    <h1>Latest offers</h1>
                    {% for item in news %}
                        {% if item.image %}
                            {% if item.imgSize == '300l' %}
                                {% if item.priceFrom %}<div class="price-from price-from-img-left pull-right"><div class="price-from-inner pull-right"><span>{{ item.priceFrom }}</span></div></div>{% endif %}
                                <img width="150" src="{{ asset(item.image.url | imagine_filter("300x")) }}" alt="" class="img-responsive pull-left"/>
                            {% elseif item.imgSize == '300r' %}
                                {% if item.priceFrom %}<div class="price-from price-from-img pull-right"><div class="price-from-inner pull-right"><span>{{ item.priceFrom }}</span></div></div>{% endif %}
                                <img width="150" src="{{ asset(item.image.url | imagine_filter("300x")) }}" alt="" class="img-responsive pull-right"/>
                            {% endif %}
                        {% endif %}

                        {% set articlenode = get_node_translation_for(item) %}
                        {#{{ dump(item) }}#}

                        <article class="main-article main-article--summary">
                            <header>
                                <time class="main-article__meta">
                                    {{ item.date | date("d.m.Y") }}
                                </time>
                                <h4 class="main-article__title">
                                    <a href="/{{ lang }}/{{ articlenode.url }}">{{ item.title }}<span class="price-from pull-right">{{ item.priceFrom }}</span></a>
                                </h4>
                            </header>
                            {{ item.summary }}
                            <p>
                                <a href="/{{ lang }}/{{ articlenode.url }}" class="btn btn-primary main-article__readmore">
                                    Read more
                                </a>
                            </p>
                        </article>
                    {% endfor %}

                {% endif %}
            {% else %}
                No news
            {% endif %}
        </div>
        <div class="content col-md-5">
            <!-- Articles pane -->
            {% if articles is not null %}
                {% if articles > 0 %}
                    <h1>Articles</h1>
                    {% for item in articles %}
                        {% set articlenode = get_node_translation_for(item) %}
                        {#{{ dump(item) }}#}
                        <article class="main-article main-article--summary article__overview--list-item">
                            <header>
                                {% if item.places.count > 0 %}
                                    <div class="to-places ignore pull-right">
                                        <span class="glyphicon glyphicon-map-marker"></span>
                                        {% for place in item.places %}
                                            {% if get_node_translation_for(place) %}
                                                <a href="{{ path("_slug", { 'url' : get_node_translation_for(place).fullSlug }) }}">{{ place.title }}</a> {% if loop.last == false %}/{% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                <time>{{ item.date | date("F jS H:i")}}</time>

                                <h3>
                                    {% if item.priceFrom %}<div class="pull-right"><div class="price-from price-from-img"><div class="price-from-inner pull-right"><span>{{ item.priceFrom }}</span></div></div></div>{% endif %}
                                    <a href="/{{ lang }}/{{ articlenode.url }}">{{ item.title }}</a>
                                </h3>
                            </header>
                            {% if item.image %}
                                {% if item.imgSize == '300l' %}
                                    <img src="{{ asset(item.image.url | imagine_filter("300x")) }}" alt="" class="img-responsive pull-left"/>
                                {% elseif item.imgSize == '300r' %}
                                    <img src="{{ asset(item.image.url | imagine_filter("300x")) }}" alt="" class="img-responsive pull-right"/>
                                {% endif %}
                            {% endif %}


                            {% if item.image %}
                                {% if item.imgSize == '1000' %}
                                    <a href="/{{ lang }}/{{ articlenode.url }}"><img src="{{ asset(item.image.url | imagine_filter("1000x")) }}" alt="" class="img-responsive"/></a>
                                {% endif %}
                            {% endif %}
                            <p></p>
                            <p>{{ item.summary }}</p>
                            <p>
                                <a href="/{{ lang }}/{{ articlenode.url }}" class="btn btn-primary main-article__readmore">
                                    Read more
                                </a>
                            </p>
                            <div class="clear"></div>
                        </article>

                        {#<div class="news">#}
                        {#<h4 class="title">#}
                        {#<a href="/{{ lang }}/{{ articlenode.url }}">{{ item.title }} <span class="date">{{ item.date | date("d/m/Y") }}</span></a>#}
                        {#</h4>#}
                        {#<p class="summary">#}
                        {#{{ item.summary }}#}
                        {#</p>#}
                        {#</div>#}
                    {% endfor %}
                {% endif %}
            {% else %}
                No articles
            {% endif %}
        </div>
    </div>


{#default#}
    <div class="container">
        <div class="row row--padded-large">
            <div class="col-md-4 col--padded">
                {{ render_pageparts(page, 'left_column') }}
            </div>
            <div class="col-md-4 col--padded">
                {{ render_pageparts(page, 'middle_column') }}
            </div>
            <div class="col-md-4 col--padded">
                {{ render_pageparts(page, 'right_column') }}
            </div>
        </div>
    </div>

